<app-navbar></app-navbar>

<div class="container-box">
  <div class="left-container">
    <h4 class="custom_heading">
      To take your workforce to the next level, please contact us today.
    </h4>
    <p>
      <strong>
        Grievances
      </strong>
      <br>
      (Any complaints or &nbsp;issues)
      <br>
      <a href="mailto:complaints@bntcg.com">
        complaints@bntcg.com
      </a>
    </p>
    <p>
      <strong>
        Sales
      </strong>
      <br>
      (Any queries on how to avail our services or how we can support or collaborate with your business needs)
      <br>
      <a href="mailto:sales@bntcg.com">
        sales@bntcg.com
      </a>
    </p>
    <p>
      <strong>
        Consulting Positions
      </strong>
      <br>
      (For Applying your candidature for consulting positions)
      <br>
      <a href="https://www2.jobdiva.com/candidates/myjobs" target="_blank" rel="noopener noreferrer">
        Click Here
      </a>
    </p>
    <p>
      <strong>
        General/Corporate
      </strong>
      <br>
      (For any other general or corporate query)
      <em>
        <br>
      </em>
      <a href="mailto:info@bntcg.com">
        info@bntcg.com
      </a>
    </p>

  </div>
  <div class="right-container">
    <h4 class="custom_heading">
      Need Assistance. Please Contact.
    </h4>
    <div class="forAddress">

      <div class="contact-list">
        <div class="icon-container">
          <svg class="icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marker-alt" role="img"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <path
              d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z">
            </path>
          </svg>
        </div>

        <span class="contacts-item-address">
          30 N Gould St Ste 5297 Sheridan, WY 82801
        </span>
      </div>

      <div class="contact-list">
        <div class="icon-container">
          <svg class="icon" aria-hidden="true" focusable="false" data-prefix="far" data-icon="phone" role="img"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              d="M476.5 22.9L382.3 1.2c-21.6-5-43.6 6.2-52.3 26.6l-43.5 101.5c-8 18.6-2.6 40.6 13.1 53.4l40 32.7C311 267.8 267.8 311 215.4 339.5l-32.7-40c-12.8-15.7-34.8-21.1-53.4-13.1L27.7 329.9c-20.4 8.7-31.5 30.7-26.6 52.3l21.7 94.2c4.8 20.9 23.2 35.5 44.6 35.5C312.3 512 512 313.7 512 67.5c0-21.4-14.6-39.8-35.5-44.6zM69.3 464l-20.9-90.7 98.2-42.1 55.7 68.1c98.8-46.4 150.6-98 197-197l-68.1-55.7 42.1-98.2L464 69.3C463 286.9 286.9 463 69.3 464z">
            </path>
          </svg>
        </div>

        <span class="contacts-item-address">
          +1 (307) 278 2704
        </span>
      </div>

      <div class="contact-list">
        <div class="icon-container">
          <svg class="icon" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="envelope" role="img"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              d="M464 64H48C21.5 64 0 85.5 0 112v288c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM48 96h416c8.8 0 16 7.2 16 16v41.4c-21.9 18.5-53.2 44-150.6 121.3-16.9 13.4-50.2 45.7-73.4 45.3-23.2.4-56.6-31.9-73.4-45.3C85.2 197.4 53.9 171.9 32 153.4V112c0-8.8 7.2-16 16-16zm416 320H48c-8.8 0-16-7.2-16-16V195c22.8 18.7 58.8 47.6 130.7 104.7 20.5 16.4 56.7 52.5 93.3 52.3 36.4.3 72.3-35.5 93.3-52.3 71.9-57.1 107.9-86 130.7-104.7v205c0 8.8-7.2 16-16 16z">
            </path>
          </svg>
        </div>

        <span class="contacts-item-address">
          <a href="mailto:info@bntcg.com">
            info@bntcg.com
          </a>
        </span>
      </div>

    </div>
  </div>
</div>

<app-footer></app-footer>
