.container-box {
  width: 100%;
  background-color: #F4F4F4;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .left-container {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    .custom_heading {
      color: #000000;
      text-align: left;
      font-weight: 300;
      font-style: normal;
      font-size: 20px;
    }

    p {
      font-size: 14px;
      line-height: 24px;

      strong {
        font-size: 16px;
        line-height: 26px;
      }

      a {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

  .right-container {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    .custom_heading {
      color: #000000;
      text-align: left;
      font-weight: 300;
      font-style: normal;
      font-size: 20px;
    }

    .forAddress {
      .contact-list {
        display: inline-flex;
        align-items: center;
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;

        .icon-container {
          display: inline-block;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.4rem;
          line-height: 3.5rem;
          width: 3.5rem;
          margin-right: 1rem;
          border-radius: 50%;
          box-shadow: 0 0 0 2px #d60700 inset;

          .icon {
            color: #d60700;
            fill: #d60700;
            height: 2em;
          }
        }

        .contacts-item-address {
          color: #000000;
        }
      }
    }
  }
}

a {
  text-decoration: none;
  color: #d60700;
}

@media screen and (min-width: 800px) {

  .container-box {
    width: 100%;
    background-color: #F4F4F4;
    padding-top: 6rem;
    padding-bottom: 2rem;
    display: flex;

    .left-container {
      flex: 1;

      .custom_heading {
        color: #000000;
        text-align: left;
        font-weight: 300;
        font-style: normal;
        font-size: 22px;
      }

      p {
        font-size: 14px;
        line-height: 24px;

        strong {
          font-size: 16px;
          line-height: 26px;
        }

        a {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }

    .right-container {
      flex: 1;

      .custom_heading {
        color: #000000;
        text-align: left;
        font-weight: 300;
        font-style: normal;
        font-size: 22px;
      }

      .forAddress {
        .contact-list {
          .icon-container {
            display: inline-block;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.4rem;
            line-height: 3.5rem;
            width: 3.5rem;
            margin-right: 1rem;
            border-radius: 50%;
            box-shadow: 0 0 0 2px #d60700 inset;

            .icon {
              color: #d60700;
              fill: #d60700;
              height: 2em;
            }
          }

          .contacts-item-address {
            color: #000000;
          }
        }
      }
    }
  }

}

@media screen and (min-width: 1100px) {

  .container-box {
    width: 100%;
    background-color: #F4F4F4;
    padding: 5.5rem;
    display: flex;

    .left-container {
      flex: 1;
    }

    .right-container {
      flex: 1;
    }
  }

}
