.l-footer {
  width: 100%;

  .l-section-links {
    background: #252525;
    border-color: #333333;
    color: #f0f0f0;
    padding: 22px 4%;

    .column-one {
      display: inline-block;
      width: 23%;

      .l-section-img {
        vertical-align: top;
        border-style: none;
        max-width: 80%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
      }

    }

    .column-two {
      display: inline-block;
      width: 23%;

      .column-inner {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 0;

        .widgettitle {
          color: #f0f0f0;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 400;
          font-size: 22px;
          line-height: 1.4;
          letter-spacing: 0em;
          margin: 0 0 1.5rem;
          margin-bottom: 1rem;
          padding-top: 0;
        }

        .linksBox {
          text-decoration: none;
          background: none;
          transition-property: background,
            box-shadow,
            border,
            color,
            opacity,
            transform;
          transition-duration: 0.3s;
          outline: none !important;
          margin: 0 0 1.5rem;
          color: #f0f0f0;

          a {
            color: #DDDDDD;
            text-decoration: none;
            background: none;
            transition-property: background, box-shadow, border, color, opacity, transform;
            transition-duration: 0.3s;
            font-size: 0.8rem;
            line-height: 1.5rem;
          }

          a:hover {
            color: #d60700;
          }
        }
      }
    }


    .column-three {
      display: inline-block;
      width: 23%;

      .column-inner {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 0;

        .widgettitle {
          color: #f0f0f0;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 400;
          font-size: 22px;
          line-height: 1.4;
          letter-spacing: 0em;
          margin: 0 0 1.5rem;
          margin-bottom: 1rem;
          padding-top: 0;
        }

        .linksBox {
          text-decoration: none;
          background: none;
          transition-property: background,
            box-shadow,
            border,
            color,
            opacity,
            transform;
          transition-duration: 0.3s;
          outline: none !important;
          margin: 0 0 1.5rem;
          color: #f0f0f0;

          a {
            color: #DDDDDD;
            text-decoration: none;
            background: none;
            transition-property: background, box-shadow, border, color, opacity, transform;
            transition-duration: 0.3s;
            font-size: 0.8rem;
            line-height: 1.5rem;
          }

          a:hover {
            color: #d60700;
          }
        }
      }
    }

    .column-four {
      display: inline-block;
      width: 23%;

      .column-inner {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 0;

        .widgettitle {
          color: #f0f0f0;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 400;
          font-size: 22px;
          line-height: 1.4;
          letter-spacing: 0em;
          margin: 0 0 1.5rem;
          margin-bottom: 1rem;
          padding-top: 0;
        }

        .linksBox {
          text-decoration: none;
          background: none;
          transition-property: background,
            box-shadow,
            border,
            color,
            opacity,
            transform;
          transition-duration: 0.3s;
          outline: none !important;
          margin: 0 0 1.5rem;
          color: #f0f0f0;

          a {
            color: #DDDDDD;
            text-decoration: none;
            background: none;
            transition-property: background, box-shadow, border, color, opacity, transform;
            transition-duration: 0.3s;
            font-size: 0.8rem;
            line-height: 1.5rem;
          }

          a:hover {
            color: #d60700;
          }
        }
      }
    }
  }

  .l-section-copyright {
    background: rgba(0, 0, 0, 0) linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(100, 100, 100) 100%) repeat scroll 0% 0%;

    .wpb_wrapper {
      padding: 22px 0;

      p {
        text-align: center;
        color: #666666;
        font-size: 0.9rem;
        line-height: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .l-footer {
    .l-section-links {
      .column-one {
        display: inline-block;
        width: 100%;

        .l-section-img {
          max-width: 96%;
          display: inline-block;
          margin-left: auto;
          margin-right: auto;
        }

      }

      .column-two {
        display: inline-block;
        width: 100%;
      }

      .column-three {
        display: inline-block;
        width: 100%;
      }

      .column-four {
        display: inline-block;
        width: 100%;
      }
    }
  }
}
