<footer id="page-footer" class="l-footer">
  <section class="l-section-links">

    <div class="column-one">
      <!-- <img class="l-section-img" src="./assets/images/logo/1.png" alt="logo"> -->
    </div>

    <div class="column-two">
      <div class="column-inner">
        <h3 class="widgettitle">Workforce Solutions</h3>
        <p class="linksBox">
          <a routerLink="/sow">SOW</a><br>
          <a routerLink="/contingent-staffing">Contingent Staffing</a><br>
          <a routerLink="/direct-hire">Direct Hire</a><br>
          <a routerLink="/recruitment-process-outsourcing">RPO</a><br>
          <a routerLink="/near-shore-and-offshore-staffing">Near Shore Staffing</a><br>
          <a routerLink="/payroll-solutions">Payroll Solutions</a>
        </p>
      </div>
    </div>

    <div class="column-three">
      <div class="column-inner">
        <h3 class="widgettitle">Career</h3>
        <p class="linksBox">
          <a routerLink="/">Consulting
            Jobs</a><br>
          <a routerLink="/">In-House Jobs</a><br>
          <!-- <a routerLink="/">Veteran Program</a><br> -->
          <a routerLink="/">Employee Benefits</a><br>
          <a routerLink="/">Events</a><br>
          <a routerLink="/">Blogs</a></p>
      </div>
    </div>

    <div class="column-four">
      <div class="column-inner">
        <h3 class="widgettitle">Contact Us</h3>
        <p class="linksBox">
          <a routerLink="/">Consultant Helpdesk</a><br>
          <a routerLink="/">Our Locations</a><br>
          <a routerLink="/">Media Center</a><br>
          <a routerLink="/">Branding</a><br>
          <a routerLink="/">Download App</a><br>
          <a routerLink="/contact-us">Contact Us</a></p>
      </div>
    </div>

  </section>
  <section class="l-section-copyright">
    <div class="wpb_wrapper">
      <p>
        ©2019 Blue Nucleus Technology and Consulting Group, All Rights Reserved
      </p>
    </div>
  </section>
</footer>









<!-- <footer id="page-footer" class="l-footer" itemscope="" itemtype="https://schema.org/WPFooter">
  <section class="l-section wpb_row height_medium color_footer-top with_img with_overlay">
    <div class="l-section-img loaded"
      style="background-image: url(http://www.net2source.com/wp-content/uploads/2013/05/office.png);background-repeat: no-repeat;"
      data-img-width="1600" data-img-height="390"></div>
    <div class="l-section-overlay" style="background: rgba(12,12,12,0.81)"></div>
    <div class="l-section-h i-cf">
      <div class="g-cols vc_row type_default valign_top gap-10px">
        <style>
          .g-cols.gap-10px {
            margin: 0 calc(-1.5rem - 10px)
          }

          .gap-10px>.vc_column_container {
            padding: 10px
          }

        </style>
        <div class="vc_col-sm-3 wpb_column vc_column_container">
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="wpb_widgetised_column wpb_content_element">
                <div class="wpb_wrapper">

                  <div id="widget_sp_image-4" class="widget widget_sp_image"><img class="attachment-full aligncenter"
                      style="max-width: 100%;"
                      srcset="http://www.net2source.com/wp-content/uploads/2019/07/12-years.png 350w, http://www.net2source.com/wp-content/uploads/2019/07/12-years-150x150.png 150w, http://www.net2source.com/wp-content/uploads/2019/07/12-years-300x300.png 300w"
                      sizes="(max-width: 350px) 100vw, 350px"
                      src="http://www.net2source.com/wp-content/uploads/2019/07/12-years.png" width="350" height="350">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vc_col-sm-3 wpb_column vc_column_container">
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="wpb_widgetised_column wpb_content_element">
                <div class="wpb_wrapper">

                  <div id="text-12" class="widget widget_text">
                    <h3 class="widgettitle">Workforce Solutions</h3>
                    <div class="textwidget">
                      <p><a href="http://www.net2source.com/sow/">SOW</a><br>
                        <a href="http://www.net2source.com/contingent-staffing/">Contingent Staffing</a><br>
                        <a href="http://www.net2source.com/direct-hire/">Direct Hire</a><br>
                        <a href="http://www.net2source.com/recruitment-process-outsourcing/">RPO</a><br>
                        <a href="http://www.net2source.com/near-shore-staffing/">Near Shore Staffing</a><br>
                        <a href="http://www.net2source.com/payroll-solutions/">Payroll Solutions</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vc_col-sm-3 wpb_column vc_column_container">
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="wpb_widgetised_column wpb_content_element">
                <div class="wpb_wrapper">

                  <div id="text-13" class="widget widget_text">
                    <h3 class="widgettitle">Career</h3>
                    <div class="textwidget">
                      <p><a
                          href="https://www2.jobdiva.com/candidates/myjobs/searchjobsdone.jsp?a=fyjdnwkqny26xqof9rceu6y6gam6750308agqi8uui1cmk3v9j6duy26aoewnusi">Consulting
                          Jobs</a><br>
                        <a href="http://www.net2source.com/in-house-jobs/">In-House Jobs</a><br>
                        <a href="http://www.net2source.com/veteran-program/">Veteran Program</a><br>
                        <a href="http://www.net2source.com/employee-benefits/">Employee Benefits</a><br>
                        <a href="http://www.net2source.com/events/">Events</a><br>
                        <a href="http://blog.net2source.com">Blogs</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vc_col-sm-3 wpb_column vc_column_container">
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="wpb_widgetised_column wpb_content_element">
                <div class="wpb_wrapper">

                  <div id="text-15" class="widget widget_text">
                    <h3 class="widgettitle">Contact Us</h3>
                    <div class="textwidget">
                      <p><a href="http://www.net2source.com/consultant-helpdesk/">Consultant Helpdesk</a><br>
                        <a href="http://www.net2source.com/locations/">Our Locations</a><br>
                        <a href="#">Media Center</a><br>
                        <a href="#">Branding</a><br>
                        <a href="http://www.net2source.com/net2source-app/">Download App</a><br>
                        <a href="http://www.net2source.com/contact-us/">Contact Us</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="l-section wpb_row height_small color_footer-bottom align_center_xs with_overlay ult-vc-hide-row vc_row-has-fill"
    style="position: relative;" data-rtl="false" data-row-effect-mobile-disable="true">
    <div class="upb_row_bg" data-upb_br_animation=""
      style="background: rgba(0, 0, 0, 0) linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(23, 23, 23) 100%) repeat scroll 0% 0%; min-width: 1349px; left: 0px; width: 1349px;"
      data-bg-override="0"></div>
    <div class="l-section-overlay" style="background: #000000"></div>
    <div class="l-section-h i-cf">
      <div class="g-cols vc_row type_default valign_middle">
        <div class="vc_col-sm-4 wpb_column vc_column_container">
          <div class="vc_column-inner">
            <div class="wpb_wrapper"></div>
          </div>
        </div>
        <div class="vc_col-sm-4 wpb_column vc_column_container">
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="wpb_text_column ">
                <div class="wpb_wrapper">
                  <p style="text-align: center">©2019 Net2Source, All Rights Reserved</p>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vc_col-sm-4 wpb_column vc_column_container">
          <div class="vc_column-inner">
            <div class="wpb_wrapper"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer> -->
