.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.accordion-main {
  width: 100%;

  div {
    ul {
      .panel {
        .card {
          background-color: inherit;
          border: none;
          border-radius: 0;

          .panel-heading {
            padding: 0;
            background-color: inherit;

            .panel-title {
              .accordion-toggle {
                button {
                  color: #000000;
                }
              }
            }
          }

          .panel-collapse {}
        }
      }
    }
  }
}

.custom-accordion-panel-Class {
  padding: 0;
  width: 100%;
}

.container-fluid-nav {
  z-index: 4;

  .header {
    transition-property: transform, background, box-shadow, line-height, height;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);
    line-height: 40px;
    height: 40px;
    background: #000000;
    margin: 0 auto;
    padding-left: 1rem !important;
    padding-right: 1rem !important;

    .l-subheader-h {
      display: flex;
      align-items: center;
      position: relative;
      margin: 0 auto;
      height: inherit;
      max-width: 1140px;

      .l-subheader-cell {
        display: flex;
        align-items: center;
        flex-grow: 1;
        line-height: 40px;
        font-size: 14px;
      }

      .at_left {
        justify-content: flex-start;
        display: flex;
        align-items: center;
        flex-grow: 1;

        .smallscreen {
          display: none;
        }

        .w-socials {
          margin-right: 1.4rem;
          line-height: 2;
          font-size: 15px;

          .w-socials-list {
            white-space: nowrap;
            margin-left: 22px;

            .w-socials-item {
              padding: 0;
              white-space: nowrap;
              display: inline-block;
              vertical-align: top;
              position: relative;

              a {
                color: #007bff;
                text-decoration: none;
                background-color: transparent;
                outline: none !important;
                text-decoration: none;
                background: none;
                transition-property: background, box-shadow, border, color,
                  opacity, transform;
                transition-duration: 0.3s;
              }

              .w-socials-item-link {
                width: 2em;
                display: block;
                text-align: center;
                position: relative;
                border: none !important;
                border-radius: inherit;
                z-index: 0;

                .w-socials-item-link-hover {
                  display: block;
                  bottom: auto;
                  height: 0;
                  transition: height 0.3s;
                  background: #1e77f0;
                }
              }

              .w-socials-item-popup {
                display: none !important;
                position: absolute;
                left: 50%;
                bottom: 100%;
                text-align: center;
                white-space: nowrap;
                z-index: 90;
                font-size: 0.9rem;
                line-height: 2.4rem;
                padding: 0 1rem;
                margin-bottom: 7px;
                border-radius: 0.25rem;
                background: #333;
                color: #fff;
                opacity: 0;
                visibility: hidden;
                transform: translate3d(-50%, -1em, 0);
                transition: opacity 0.2s cubic-bezier(0.78, 0.13, 0.15, 0.86) 0.3s,
                  transform 0.2s cubic-bezier(0.78, 0.13, 0.15, 0.86) 0.3s;
              }
            }

            .facebook {
              .w-socials-item-link::after {
                width: 1em;
                content: url(../../../assets/images/icons/facebook.svg);
                display: block;
                line-height: inherit;
                position: relative;
                color: #1e77f0 !important;
                fill: #1e77f0 !important;
              }
            }

            .twitter {
              .w-socials-item-link::after {
                width: 1em;
                content: url(../../../assets/images/icons/twitter.svg);
                display: block;
                line-height: inherit;
                position: relative;
                color: #1e77f0;
              }
            }

            .linkedin {
              .w-socials-item-link::after {
                width: 1em;
                content: url(../../../assets/images/icons/linkedin.svg);
                display: block;
                line-height: inherit;
                position: relative;
                color: #1e77f0;
              }
            }

            .instagram {
              .w-socials-item-link::after {
                width: 1em;
                content: url(../../../assets/images/icons/instragram.svg);
                display: block;
                line-height: inherit;
                position: relative;
                color: #ffffff;
              }
            }

            .youtube {
              .w-socials-item-link::after {
                width: 1em;
                content: url(../../../assets/images/icons/youtube.svg);
                display: block;
                line-height: inherit;
                position: relative;
                color: #f00;
              }
            }
          }
        }
      }

      .at_center {
        justify-content: center;
      }

      .at_right {
        justify-content: flex-end;

        .largeScreen {
          display: block;
          margin-left: 1.4rem;
        }

        .w-html {
          line-height: 1.5;

          #google_language_translator {
            .goog-te-gadget {
              font-family: arial;
              white-space: nowrap;
              font-size: 0px !important;
              color: transparent !important;

              div {
                display: inline;

                .goog-te-combo {
                  color: #ff0000;
                  width: 143px;
                  background: #fff;
                  box-shadow: none !important;
                  -webkit-box-shadow: none !important;
                  -moz-box-shadow: none !important;
                  padding: 3px !important;
                  height: auto !important;
                  border: 1px solid lightgray !important;
                  border-radius: 0px !important;
                  margin: 4px 0;
                  font-family: arial;
                  font-size: 10pt;
                  vertical-align: baseline;
                  line-height: 2.8rem;
                  transition: all 0.3s;
                  outline: none !important;
                }

                select {
                  text-transform: none;
                  font: inherit;

                  option {
                    background: #ffffff;
                  }
                }
              }

              span {
                white-space: nowrap;

                a {
                  display: none !important;
                  background: none;
                  transition-property: background, box-shadow, border, color,
                    opacity, transform;
                  transition-duration: 0.3s;

                  img {
                    padding-right: 3px;
                    width: 37px;
                    height: 14px;
                  }
                }

                .goog-logo-link,
                .goog-logo-link:link,
                .goog-logo-link:visited,
                .goog-logo-link:hover,
                .goog-logo-link:active {
                  font-size: 12px;
                  font-weight: bold;
                  color: #444;
                  text-decoration: none;
                  line-height: 0.8em;
                  outline: none !important;
                }
              }
            }
          }
        }

        .ush_html_1 {
          margin-left: 1.4rem;
        }

        // .largeScreen {
        //   display: block;
        // }

        .w-socials {
          margin-right: 1.4rem;
          line-height: 2;
          font-size: 15px;

          .w-socials-list {
            white-space: nowrap;
            margin: -0;

            .w-socials-item {
              padding: 0;
              white-space: nowrap;
              display: inline-block;
              vertical-align: top;
              position: relative;

              a {
                color: #007bff;
                text-decoration: none;
                background-color: transparent;
                outline: none !important;
                text-decoration: none;
                background: none;
                transition-property: background, box-shadow, border, color,
                  opacity, transform;
                transition-duration: 0.3s;
              }

              .w-socials-item-link {
                width: 2em;
                display: block;
                text-align: center;
                position: relative;
                border: none !important;
                border-radius: inherit;
                z-index: 0;

                .w-socials-item-link-hover {
                  display: block;
                  bottom: auto;
                  height: 0;
                  transition: height 0.3s;
                  background: #1e77f0;
                }
              }

              .w-socials-item-popup {
                display: none !important;
                position: absolute;
                left: 50%;
                bottom: 100%;
                text-align: center;
                white-space: nowrap;
                z-index: 90;
                font-size: 0.9rem;
                line-height: 2.4rem;
                padding: 0 1rem;
                margin-bottom: 7px;
                border-radius: 0.25rem;
                background: #333;
                color: #fff;
                opacity: 0;
                visibility: hidden;
                transform: translate3d(-50%, -1em, 0);
                transition: opacity 0.2s cubic-bezier(0.78, 0.13, 0.15, 0.86) 0.3s,
                  transform 0.2s cubic-bezier(0.78, 0.13, 0.15, 0.86) 0.3s;
              }
            }

            .facebook {
              .w-socials-item-link::after {
                width: 1em;
                content: url(../../../assets/images/icons/facebook.svg);
                display: block;
                line-height: inherit;
                position: relative;
                color: #1e77f0 !important;
                fill: #1e77f0 !important;
              }
            }

            .twitter {
              .w-socials-item-link::after {
                width: 1em;
                content: url(../../../assets/images/icons/twitter.svg);
                display: block;
                line-height: inherit;
                position: relative;
                color: #1e77f0;
              }
            }

            .linkedin {
              .w-socials-item-link::after {
                width: 1em;
                content: url(../../../assets/images/icons/linkedin.svg);
                display: block;
                line-height: inherit;
                position: relative;
                color: #1e77f0;
              }
            }

            .instagram {
              .w-socials-item-link::after {
                width: 1em;
                content: url(../../../assets/images/icons/instragram.svg);
                display: block;
                line-height: inherit;
                position: relative;
                color: #ffffff;
              }
            }

            .youtube {
              .w-socials-item-link::after {
                width: 1em;
                content: url(../../../assets/images/icons/youtube.svg);
                display: block;
                line-height: inherit;
                position: relative;
                color: #f00;
              }
            }
          }
        }
      }
    }
  }


  #navbar {
    .navbar-logo {
      padding-left: 80px;

      img {
        height: 52px;
      }
    }

    .anchor-link {
      color: #000000;
    }

    .anchor-link:hover {
      background-color: #f5f5f5;
      color: #d60700;
    }

    .dropdown-list {
      margin-top: 0;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 60px;
}

@media screen and (min-width: 900px) {
  #navbar {
    display: flex;
    flex-wrap: nowrap;
  }

  .container-fluid-nav {
    z-index: 4;

    .header {
      transition-property: transform, background, box-shadow, line-height, height;
      transition-duration: 0.3s;
      transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);
      line-height: 40px;
      height: 40px;
      background: #000000;
      margin: 0 auto;
      padding-left: 1rem !important;
      padding-right: 1rem !important;

      .l-subheader-h {
        display: flex;
        align-items: center;
        position: relative;
        margin: 0 auto;
        height: inherit;
        max-width: 1140px;

        .l-subheader-cell {
          display: flex;
          align-items: center;
          flex-grow: 1;
          line-height: 40px;
          font-size: 14px;
        }

        .at_left {
          justify-content: flex-start;
          display: flex;
          align-items: center;
          flex-grow: 1;

          .smallscreen {
            display: block;
          }

          .w-socials {
            margin-right: 1.4rem;
            line-height: 2;
            font-size: 15px;

            .w-socials-list {
              white-space: nowrap;
              margin: -0;

              .w-socials-item {
                padding: 0;
                white-space: nowrap;
                display: inline-block;
                vertical-align: top;
                position: relative;

                a {
                  color: #007bff;
                  text-decoration: none;
                  background-color: transparent;
                  outline: none !important;
                  text-decoration: none;
                  background: none;
                  transition-property: background, box-shadow, border, color,
                    opacity, transform;
                  transition-duration: 0.3s;
                }

                .w-socials-item-link {
                  width: 2em;
                  display: block;
                  text-align: center;
                  position: relative;
                  border: none !important;
                  border-radius: inherit;
                  z-index: 0;

                  .w-socials-item-link-hover {
                    display: block;
                    bottom: auto;
                    height: 0;
                    transition: height 0.3s;
                    background: #1e77f0;
                  }
                }

                .w-socials-item-popup {
                  display: none !important;
                  position: absolute;
                  left: 50%;
                  bottom: 100%;
                  text-align: center;
                  white-space: nowrap;
                  z-index: 90;
                  font-size: 0.9rem;
                  line-height: 2.4rem;
                  padding: 0 1rem;
                  margin-bottom: 7px;
                  border-radius: 0.25rem;
                  background: #333;
                  color: #fff;
                  opacity: 0;
                  visibility: hidden;
                  transform: translate3d(-50%, -1em, 0);
                  transition: opacity 0.2s cubic-bezier(0.78, 0.13, 0.15, 0.86) 0.3s,
                    transform 0.2s cubic-bezier(0.78, 0.13, 0.15, 0.86) 0.3s;
                }
              }

              .facebook {
                .w-socials-item-link::after {
                  width: 1em;
                  content: url(../../../assets/images/icons/facebook.svg);
                  display: block;
                  line-height: inherit;
                  position: relative;
                  color: #1e77f0 !important;
                  fill: #1e77f0 !important;
                }
              }

              .twitter {
                .w-socials-item-link::after {
                  width: 1em;
                  content: url(../../../assets/images/icons/twitter.svg);
                  display: block;
                  line-height: inherit;
                  position: relative;
                  color: #1e77f0;
                }
              }

              .linkedin {
                .w-socials-item-link::after {
                  width: 1em;
                  content: url(../../../assets/images/icons/linkedin.svg);
                  display: block;
                  line-height: inherit;
                  position: relative;
                  color: #1e77f0;
                }
              }

              .instagram {
                .w-socials-item-link::after {
                  width: 1em;
                  content: url(../../../assets/images/icons/instragram.svg);
                  display: block;
                  line-height: inherit;
                  position: relative;
                  color: #ffffff;
                }
              }

              .youtube {
                .w-socials-item-link::after {
                  width: 1em;
                  content: url(../../../assets/images/icons/youtube.svg);
                  display: block;
                  line-height: inherit;
                  position: relative;
                  color: #f00;
                }
              }
            }
          }
        }

        .at_center {
          justify-content: center;
        }

        .at_right {
          justify-content: flex-end;

          .largeScreen {
            display: none;
          }

          .w-html {
            line-height: 1.5;

            #google_language_translator {
              .goog-te-gadget {
                font-family: arial;
                white-space: nowrap;
                font-size: 0px !important;
                color: transparent !important;

                div {
                  display: inline;

                  .goog-te-combo {
                    color: #ff0000;
                    width: 143px;
                    background: #fff;
                    box-shadow: none !important;
                    -webkit-box-shadow: none !important;
                    -moz-box-shadow: none !important;
                    padding: 3px !important;
                    height: auto !important;
                    border: 1px solid lightgray !important;
                    border-radius: 0px !important;
                    margin: 4px 0;
                    font-family: arial;
                    font-size: 10pt;
                    vertical-align: baseline;
                    line-height: 2.8rem;
                    transition: all 0.3s;
                    outline: none !important;
                  }

                  select {
                    text-transform: none;
                    font: inherit;

                    option {
                      background: #ffffff;
                    }
                  }
                }

                span {
                  white-space: nowrap;

                  a {
                    display: none !important;
                    background: none;
                    transition-property: background, box-shadow, border, color,
                      opacity, transform;
                    transition-duration: 0.3s;

                    img {
                      padding-right: 3px;
                      width: 37px;
                      height: 14px;
                    }
                  }

                  .goog-logo-link,
                  .goog-logo-link:link,
                  .goog-logo-link:visited,
                  .goog-logo-link:hover,
                  .goog-logo-link:active {
                    font-size: 12px;
                    font-weight: bold;
                    color: #444;
                    text-decoration: none;
                    line-height: 0.8em;
                    outline: none !important;
                  }
                }
              }
            }
          }

          .ush_html_1 {
            margin-left: 1.4rem;
          }
        }
      }
    }

    .header {
      transition-property: transform, background, box-shadow, line-height, height;
      transition-duration: 0.3s;
      transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);
      line-height: 40px;
      height: 40px;
      background: #000000;
      margin: 0 auto;
      padding-left: 1rem !important;
      padding-right: 1rem !important;

      .l-subheader-h {
        display: flex;
        align-items: center;
        position: relative;
        margin: 0 auto;
        height: inherit;
        max-width: 1140px;

        .l-subheader-cell {
          display: flex;
          align-items: center;
          flex-grow: 1;
          line-height: 40px;
          font-size: 14px;
        }

        .at_left {
          justify-content: flex-start;
          display: flex;
          align-items: center;
          flex-grow: 1;

          .smallscreen {
            display: block;
          }

          .w-socials {
            margin-right: 1.4rem;
            line-height: 2;
            font-size: 15px;

            .w-socials-list {
              white-space: nowrap;
              margin: -0;

              .w-socials-item {
                padding: 0;
                white-space: nowrap;
                display: inline-block;
                vertical-align: top;
                position: relative;

                a {
                  color: #007bff;
                  text-decoration: none;
                  background-color: transparent;
                  outline: none !important;
                  text-decoration: none;
                  background: none;
                  transition-property: background, box-shadow, border, color,
                    opacity, transform;
                  transition-duration: 0.3s;
                }

                .w-socials-item-link {
                  width: 2em;
                  display: block;
                  text-align: center;
                  position: relative;
                  border: none !important;
                  border-radius: inherit;
                  z-index: 0;

                  .w-socials-item-link-hover {
                    display: block;
                    bottom: auto;
                    height: 0;
                    transition: height 0.3s;
                    background: #1e77f0;
                  }
                }

                .w-socials-item-popup {
                  display: none !important;
                  position: absolute;
                  left: 50%;
                  bottom: 100%;
                  text-align: center;
                  white-space: nowrap;
                  z-index: 90;
                  font-size: 0.9rem;
                  line-height: 2.4rem;
                  padding: 0 1rem;
                  margin-bottom: 7px;
                  border-radius: 0.25rem;
                  background: #333;
                  color: #fff;
                  opacity: 0;
                  visibility: hidden;
                  transform: translate3d(-50%, -1em, 0);
                  transition: opacity 0.2s cubic-bezier(0.78, 0.13, 0.15, 0.86) 0.3s,
                    transform 0.2s cubic-bezier(0.78, 0.13, 0.15, 0.86) 0.3s;
                }
              }

              .facebook {
                .w-socials-item-link::after {
                  width: 1em;
                  content: url(../../../assets/images/icons/facebook.svg);
                  display: block;
                  line-height: inherit;
                  position: relative;
                  color: #1e77f0 !important;
                  fill: #1e77f0 !important;
                }
              }

              .twitter {
                .w-socials-item-link::after {
                  width: 1em;
                  content: url(../../../assets/images/icons/twitter.svg);
                  display: block;
                  line-height: inherit;
                  position: relative;
                  color: #1e77f0;
                }
              }

              .linkedin {
                .w-socials-item-link::after {
                  width: 1em;
                  content: url(../../../assets/images/icons/linkedin.svg);
                  display: block;
                  line-height: inherit;
                  position: relative;
                  color: #1e77f0;
                }
              }

              .instagram {
                .w-socials-item-link::after {
                  width: 1em;
                  content: url(../../../assets/images/icons/instragram.svg);
                  display: block;
                  line-height: inherit;
                  position: relative;
                  color: #ffffff;
                }
              }

              .youtube {
                .w-socials-item-link::after {
                  width: 1em;
                  content: url(../../../assets/images/icons/youtube.svg);
                  display: block;
                  line-height: inherit;
                  position: relative;
                  color: #f00;
                }
              }
            }
          }
        }

        .at_center {
          justify-content: center;
        }

        .at_right {
          justify-content: flex-end;

          .largeScreen {
            display: none;
          }

          .w-html {
            line-height: 1.5;

            #google_language_translator {
              .goog-te-gadget {
                font-family: arial;
                white-space: nowrap;
                font-size: 0px !important;
                color: transparent !important;

                div {
                  display: inline;

                  .goog-te-combo {
                    color: #ff0000;
                    width: 143px;
                    background: #fff;
                    box-shadow: none !important;
                    -webkit-box-shadow: none !important;
                    -moz-box-shadow: none !important;
                    padding: 3px !important;
                    height: auto !important;
                    border: 1px solid lightgray !important;
                    border-radius: 0px !important;
                    margin: 4px 0;
                    font-family: arial;
                    font-size: 10pt;
                    vertical-align: baseline;
                    line-height: 2.8rem;
                    transition: all 0.3s;
                    outline: none !important;
                  }

                  select {
                    text-transform: none;
                    font: inherit;

                    option {
                      background: #ffffff;
                    }
                  }
                }

                span {
                  white-space: nowrap;

                  a {
                    display: none !important;
                    background: none;
                    transition-property: background, box-shadow, border, color,
                      opacity, transform;
                    transition-duration: 0.3s;

                    img {
                      padding-right: 3px;
                      width: 37px;
                      height: 14px;
                    }
                  }

                  .goog-logo-link,
                  .goog-logo-link:link,
                  .goog-logo-link:visited,
                  .goog-logo-link:hover,
                  .goog-logo-link:active {
                    font-size: 12px;
                    font-weight: bold;
                    color: #444;
                    text-decoration: none;
                    line-height: 0.8em;
                    outline: none !important;
                  }
                }
              }
            }
          }

          .ush_html_1 {
            margin-left: 1.4rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container-fluid-nav {
    #navbar {
      display: flex;
      flex-wrap: nowrap;
  
      .navbar-logo {
        padding-left: 8px;
      }
    }
  }
}








// .w-nav-anchor:hover {
//   background-color: #f5f5f5;
//   color: #d60700;
// }

// .w-nav-anchor.active {
//   background-color: #f5f5f5;
//   color: #d60700;
// }


// .show-level_2 {
//   opacity: 1;
//   height: auto;
//   display: block;
//   padding-top: 0px;
//   padding-bottom: 0px;
// }



// #navbar {
//   background-color: #fff;
//   z-index: 3;

//   .l-subheader {
//     transition-property: transform, background, box-shadow, line-height, height;
//     transition-duration: 0.3s;
//     transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);
//     padding-left: 1rem !important;
//     padding-right: 1rem !important;
//   }

//   .at_middle {
//     line-height: 50px;
//     height: 50px;
//     color: #000000;
//     background: #ffffff;
//     margin: 0 auto;

//     .l-subheader-h {
//       display: flex;
//       align-items: center;
//       // position: relative;
//       margin: 0 auto;
//       height: inherit;
//       max-width: 1140px;
//       line-height: 50px;

//       .l-subheader-cell {
//         display: flex;
//         align-items: center;
//         flex-grow: 1;
//       }

//       .at_left {
//         justify-content: flex-start;
//         margin-right: 1.4rem;
//         height: 20px;

//         .w-image {
//           flex-shrink: 0;
//           transition: height 0.3s;
//           height: 20px;

//           .w-image-h {
//             position: relative;
//             height: inherit;
//             display: block;
//             border-radius: inherit;
//             border-color: inherit !important;
//             color: inherit !important;

//             img {
//               display: block;
//               height: 34px;
//               width: auto;
//               max-width: 100%;
//             }
//           }

//           a {
//             outline: none !important;
//             text-decoration: none;
//             background: none;
//             transition-property: background, box-shadow, border, color, opacity,
//               transform;
//             transition-duration: 0.3s;
//           }
//         }

//         .ush_image_1 {
//           height: 34px;
//         }

//         .with_transparent {}
//       }

//       .at_center {
//         justify-content: center;
//       }

//       .at_right {
//         justify-content: flex-end;
//         margin-left: 1.4rem;

//         .w-nav {
//           margin-right: 0;
//           text-align: left;
//           margin-left: 1.4rem;
//           line-height: 50px;

//           .w-nav-control {
//             display: block;
//             line-height: 50px;
//             height: 50px;
//             padding: 0 0.8rem;

//             .w-nav-icon {
//               display: inline-block;
//               vertical-align: top;
//               font-size: 20px;
//               position: relative;
//               height: inherit;
//               width: 1em;

//               i {
//                 border-width: 3px;
//                 top: 50%;
//                 transform: translateY(-50%);
//                 transition: transform 0.15s cubic-bezier(0, 1, .8, 1);
//                 border-bottom: 0.15em solid;
//               }

//               i,
//               i::before,
//               i::after {
//                 content: '';
//                 display: block;
//                 position: absolute;
//                 height: 0;
//                 width: inherit;
//               }

//               i::before {
//                 border-bottom: inherit;
//                 top: -0.3333em;
//                 transition: top 0.15s cubic-bezier(0, 1, .8, 1) 0.15s, opacity 0.15s cubic-bezier(0, 1, .8, 1);
//               }

//               i::after {
//                 border-bottom: inherit;
//                 top: 0.3333em;
//                 transition: top 0.15s cubic-bezier(0, 1, .8, 1) 0.15s, transform 0.15s cubic-bezier(0, 1, .8, 1);
//               }
//             }
//           }

//           a {
//             outline: none !important;
//             text-decoration: none;
//             background: none;
//             transition-property: background, box-shadow, border, color, opacity, transform;
//             transition-duration: 0.3s;
//           }

//           .w-nav-list {
//             position: absolute;
//             display: none;
//             // top: 100%;
//             left: -2.7rem;
//             right: -2.7rem;
//             // padding-left: 2rem;
//             padding-right: 2rem;
//             box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
//             color: #000000;

//             max-height: 531px;
//             height: auto;
//             opacity: 1;
//             padding-top: 0px;
//             padding-bottom: 0px;
//             color: #000000;
//             background: #ffffff;
//             z-index: 3;
//             list-style: none;
//             margin: 0;
//             text-align: left;
//             line-height: 50px;
//             font-size: 14px;

//             .menu-item {
//               display: block;
//               position: relative;
//               margin: 0;
//               list-style: none;
//               text-align: left;
//               line-height: 50px;
//               font-size: 14px;

//               // this part
//               .w-nav-anchor {
//                 line-height: 1.6em;
//                 padding: 0.7rem;
//                 transition: none;
//                 background-color: #fff;
//                 // background: #f5f5f5;
//                 color: #d60700;
//                 display: block;
//                 position: relative;
//                 border: none !important;
//                 outline: none !important;
//                 text-decoration: none;

//                 .w-nav-title {
//                   color: #d60700;
//                 }
//               }

//               .w-nav-anchor:hover {
//                 background-color: #f5f5f5;
//               }
//             }
//           }

//           .level_1 {}

//           .level_2 {
//             padding-left: 1.4rem;
//             opacity: 0;
//             height: 0px;
//             display: none;
//           }

//           .hover_simple {}

//           .w-nav-options {}

//           .hidden {
//             display: none !important;
//           }
//         }

//         .ush_menu_1 {}

//         .height_full {}

//         .dropdown_hor {}

//         .m_align_left {
//           text-align: left;
//         }

//         .m_layout_dropdown {}

//         .type_desktop {}

//         .w-search {
//           line-height: inherit;

//           a {
//             display: block;
//             outline: none !important;
//             text-decoration: none;
//             background: none;
//             transition-property: background, box-shadow, border, color, opacity,
//               transform;
//             transition-duration: 0.3s;
//           }

//           .w-search-open {
//             text-align: center;
//             width: 2.2em;

//             i {
//               display: inline-block;
//               font-style: normal;
//               font-variant: normal;
//               text-rendering: auto;
//               vertical-align: top;
//               line-height: inherit;
//               font-weight: 900;
//             }

//             i::before {
//               content: url(../../../assets/images/icons/search.svg);
//             }
//           }

//           .w-search-form {
//             position: absolute;
//             top: 0;
//             left: -1.5rem;
//             right: -1.5rem;
//             height: 0;
//             z-index: 120;
//             transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
//             background: #ffffff;
//             color: #d60700;

//             .w-form-row {
//               position: static;
//               margin: 0;

//               .w-form-row-field {
//                 position: absolute;
//                 top: 50%;
//                 left: 0;
//                 right: 0;
//                 margin-top: -1.4rem;

//                 input {
//                   font-size: 1rem !important;
//                   padding: 0 3rem 0 1.5rem;
//                   border-radius: 0;
//                   display: block;
//                   box-shadow: none !important;
//                   border: none !important;
//                   background: none;
//                   color: inherit;
//                   transition: none;
//                   line-height: 2.8rem;
//                   height: 2.8rem;
//                   width: 100%;
//                   outline: none !important;
//                 }
//               }

//               .w-search-close {
//                 outline: none !important;
//                 top: 50%;
//                 width: auto;
//                 padding-right: 1.5rem;
//                 margin-top: -1.4rem;
//                 position: absolute;
//                 right: 0;
//                 text-align: center;
//                 line-height: 2.8rem;
//                 cursor: pointer;
//                 color: inherit !important;
//                 opacity: 0.5;
//                 transition: color 0.3s, opacity 0.3s, transform 0.3s;
//               }

//               .w-search-close::before {
//                 content: url(../../../assets/images/icons/times.svg);
//                 font-weight: 400;
//                 vertical-align: top;
//               }
//             }

//             .for_text {}
//           }
//         }

//         .w-search:not(.layout_simple) {
//           margin-left: 0;
//           margin-right: 0;
//         }

//         .w-search:not(.layout_simple):last-child {
//           margin-right: -0.5em;
//         }

//         .ush_search_1 {
//           font-size: 18px;
//         }

//         .layout_fullwidth {}
//       }
//     }
//   }
// }


// .sticky {
//   position: fixed;
//   top: 0;
//   width: 100%;
// }


// @media screen and (min-width: 900px) {
//   .header {
//     transition-property: transform, background, box-shadow, line-height, height;
//     transition-duration: 0.3s;
//     transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);
//     line-height: 40px;
//     height: 40px;
//     background: #000000;
//     margin: 0 auto;
//     padding-left: 1rem !important;
//     padding-right: 1rem !important;

//     .l-subheader-h {
//       display: flex;
//       align-items: center;
//       position: relative;
//       margin: 0 auto;
//       height: inherit;
//       max-width: 1140px;

//       .l-subheader-cell {
//         display: flex;
//         align-items: center;
//         flex-grow: 1;
//         line-height: 40px;
//         font-size: 14px;
//       }

//       .at_left {
//         justify-content: flex-start;
//         display: flex;
//         align-items: center;
//         flex-grow: 1;

//         .smallscreen {
//           display: block;
//         }

//         .w-socials {
//           margin-right: 1.4rem;
//           line-height: 2;
//           font-size: 15px;

//           .w-socials-list {
//             white-space: nowrap;
//             margin: -0;

//             .w-socials-item {
//               padding: 0;
//               white-space: nowrap;
//               display: inline-block;
//               vertical-align: top;
//               position: relative;

//               a {
//                 color: #007bff;
//                 text-decoration: none;
//                 background-color: transparent;
//                 outline: none !important;
//                 text-decoration: none;
//                 background: none;
//                 transition-property: background, box-shadow, border, color,
//                   opacity, transform;
//                 transition-duration: 0.3s;
//               }

//               .w-socials-item-link {
//                 width: 2em;
//                 display: block;
//                 text-align: center;
//                 position: relative;
//                 border: none !important;
//                 border-radius: inherit;
//                 z-index: 0;

//                 .w-socials-item-link-hover {
//                   display: block;
//                   bottom: auto;
//                   height: 0;
//                   transition: height 0.3s;
//                   background: #1e77f0;
//                 }
//               }

//               .w-socials-item-popup {
//                 display: none !important;
//                 position: absolute;
//                 left: 50%;
//                 bottom: 100%;
//                 text-align: center;
//                 white-space: nowrap;
//                 z-index: 90;
//                 font-size: 0.9rem;
//                 line-height: 2.4rem;
//                 padding: 0 1rem;
//                 margin-bottom: 7px;
//                 border-radius: 0.25rem;
//                 background: #333;
//                 color: #fff;
//                 opacity: 0;
//                 visibility: hidden;
//                 transform: translate3d(-50%, -1em, 0);
//                 transition: opacity 0.2s cubic-bezier(0.78, 0.13, 0.15, 0.86) 0.3s,
//                   transform 0.2s cubic-bezier(0.78, 0.13, 0.15, 0.86) 0.3s;
//               }
//             }

//             .facebook {
//               .w-socials-item-link::after {
//                 width: 1em;
//                 content: url(../../../assets/images/icons/facebook.svg);
//                 display: block;
//                 line-height: inherit;
//                 position: relative;
//                 color: #1e77f0 !important;
//                 fill: #1e77f0 !important;
//               }
//             }

//             .twitter {
//               .w-socials-item-link::after {
//                 width: 1em;
//                 content: url(../../../assets/images/icons/twitter.svg);
//                 display: block;
//                 line-height: inherit;
//                 position: relative;
//                 color: #1e77f0;
//               }
//             }

//             .linkedin {
//               .w-socials-item-link::after {
//                 width: 1em;
//                 content: url(../../../assets/images/icons/linkedin.svg);
//                 display: block;
//                 line-height: inherit;
//                 position: relative;
//                 color: #1e77f0;
//               }
//             }

//             .instagram {
//               .w-socials-item-link::after {
//                 width: 1em;
//                 content: url(../../../assets/images/icons/instragram.svg);
//                 display: block;
//                 line-height: inherit;
//                 position: relative;
//                 color: #ffffff;
//               }
//             }

//             .youtube {
//               .w-socials-item-link::after {
//                 width: 1em;
//                 content: url(../../../assets/images/icons/youtube.svg);
//                 display: block;
//                 line-height: inherit;
//                 position: relative;
//                 color: #f00;
//               }
//             }
//           }
//         }
//       }

//       .at_center {
//         justify-content: center;
//       }

//       .at_right {
//         justify-content: flex-end;

//         .largeScreen {
//           display: none;
//         }

//         .w-html {
//           line-height: 1.5;

//           #google_language_translator {
//             .goog-te-gadget {
//               font-family: arial;
//               white-space: nowrap;
//               font-size: 0px !important;
//               color: transparent !important;

//               div {
//                 display: inline;

//                 .goog-te-combo {
//                   color: #ff0000;
//                   width: 143px;
//                   background: #fff;
//                   box-shadow: none !important;
//                   -webkit-box-shadow: none !important;
//                   -moz-box-shadow: none !important;
//                   padding: 3px !important;
//                   height: auto !important;
//                   border: 1px solid lightgray !important;
//                   border-radius: 0px !important;
//                   margin: 4px 0;
//                   font-family: arial;
//                   font-size: 10pt;
//                   vertical-align: baseline;
//                   line-height: 2.8rem;
//                   transition: all 0.3s;
//                   outline: none !important;
//                 }

//                 select {
//                   text-transform: none;
//                   font: inherit;

//                   option {
//                     background: #ffffff;
//                   }
//                 }
//               }

//               span {
//                 white-space: nowrap;

//                 a {
//                   display: none !important;
//                   background: none;
//                   transition-property: background, box-shadow, border, color,
//                     opacity, transform;
//                   transition-duration: 0.3s;

//                   img {
//                     padding-right: 3px;
//                     width: 37px;
//                     height: 14px;
//                   }
//                 }

//                 .goog-logo-link,
//                 .goog-logo-link:link,
//                 .goog-logo-link:visited,
//                 .goog-logo-link:hover,
//                 .goog-logo-link:active {
//                   font-size: 12px;
//                   font-weight: bold;
//                   color: #444;
//                   text-decoration: none;
//                   line-height: 0.8em;
//                   outline: none !important;
//                 }
//               }
//             }
//           }
//         }

//         .ush_html_1 {
//           margin-left: 1.4rem;
//         }
//       }
//     }
//   }





//   #navbar {
//     background-color: #fff;

//     .l-subheader {
//       transition-property: transform, background, box-shadow, line-height, height;
//       transition-duration: 0.3s;
//       transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);
//       padding-left: 1rem !important;
//       padding-right: 1rem !important;
//     }

//     .at_middle {
//       line-height: 60px;
//       height: 60px;
//       color: #000000;
//       background: #ffffff;
//       margin: 0 auto;

//       .l-subheader-h {
//         display: flex;
//         align-items: center;
//         // position: relative;
//         margin: 0 auto;
//         height: inherit;
//         max-width: 1140px;
//         line-height: 50px;

//         .l-subheader-cell {
//           display: flex;
//           align-items: center;
//           flex-grow: 1;
//         }

//         .at_left {
//           justify-content: flex-start;
//           margin-right: 1.4rem;
//           height: inherit;

//           .w-image {
//             flex-shrink: 0;
//             transition: height 0.3s;
//             height: inherit;

//             .w-image-h {
//               position: relative;
//               height: inherit;
//               display: block;
//               border-radius: inherit;
//               border-color: inherit !important;
//               color: inherit !important;

//               img {
//                 display: block;
//                 height: 54px;
//                 width: auto;
//                 max-width: 100%;
//               }
//             }

//             a {
//               outline: none !important;
//               text-decoration: none;
//               background: none;
//               transition-property: background, box-shadow, border, color, opacity,
//                 transform;
//               transition-duration: 0.3s;
//             }
//           }

//           .ush_image_1 {
//             height: inherit;
//           }

//           .with_transparent {}
//         }

//         .at_center {
//           justify-content: center;
//         }

//         .at_right {
//           justify-content: flex-end;
//           margin-left: 1.4rem;

//           .w-nav {
//             margin-right: 0;
//             text-align: left;
//             margin-left: 1.4rem;
//             line-height: 50px;

//             .w-nav-control {
//               display: none;
//               line-height: 50px;
//               height: 50px;
//               padding: 0 0.8rem;

//               .w-nav-icon {
//                 display: inline-block;
//                 vertical-align: top;
//                 font-size: 20px;
//                 position: relative;
//                 height: inherit;
//                 width: 1em;

//                 i {
//                   border-width: 3px;
//                   top: 50%;
//                   transform: translateY(-50%);
//                   transition: transform 0.15s cubic-bezier(0, 1, .8, 1);
//                   border-bottom: 0.15em solid;
//                 }

//                 i,
//                 i::before,
//                 i::after {
//                   content: '';
//                   display: block;
//                   position: absolute;
//                   height: 0;
//                   width: inherit;
//                 }

//                 i::before {
//                   border-bottom: inherit;
//                   top: -0.3333em;
//                   transition: top 0.15s cubic-bezier(0, 1, .8, 1) 0.15s, opacity 0.15s cubic-bezier(0, 1, .8, 1);
//                 }

//                 i::after {
//                   border-bottom: inherit;
//                   top: 0.3333em;
//                   transition: top 0.15s cubic-bezier(0, 1, .8, 1) 0.15s, transform 0.15s cubic-bezier(0, 1, .8, 1);
//                 }
//               }
//             }

//             a {
//               outline: none !important;
//               text-decoration: none;
//               background: none;
//               transition-property: background, box-shadow, border, color, opacity, transform;
//               transition-duration: 0.3s;
//             }

//             .w-nav-list {
//               padding-top: 0px;
//               padding-bottom: 0px;
//               list-style: none;
//               margin: 0;
//               padding: 0;
//               line-height: 60px;
//               color: #000000;
//               position: static;
//               box-shadow: none;

//               .menu-item {
//                 display: block;
//                 position: relative;
//                 margin: 0;
//                 list-style: none;
//                 text-align: left;
//                 line-height: 50px;
//                 font-size: 14px;

//                 .w-nav-anchor {
//                   line-height: 1.6em;
//                   padding: 0.7rem;
//                   transition: none;
//                   background-color: #fff;
//                   display: block;
//                   position: relative;
//                   border: none !important;
//                   outline: none !important;
//                   text-decoration: none;
//                   color: #000000;

//                   .w-nav-title {
//                     color: inherit;
//                   }
//                 }

//                 .w-nav-anchor:hover {
//                   background-color: #f5f5f5;
//                   color: #d60700;
//                 }

//                 .w-nav-anchor.active {
//                   background-color: #f5f5f5;
//                   color: #d60700;
//                 }
//               }
//             }

//             .level_1 {
//               display: flex !important;
//               align-items: center;
//             }

//             .level_2 {
//               padding-left: 1.4rem;
//               opacity: 0;
//               height: 0px;
//               display: none;

//               .menu-item {
//                 transition: transform 0.3s;
//                 display: block;
//                 position: relative;
//                 margin: 0;
//                 list-style: none;
//                 text-align: left;
//                 line-height: 50px;
//                 font-size: 14px;

//                 .w-nav-anchor {
//                   line-height: 1.6em;
//                   padding: 0.7rem;
//                   transition: none;
//                   background-color: #fff;
//                   display: block;
//                   position: relative;
//                   border: none !important;
//                   outline: none !important;
//                   text-decoration: none;
//                   color: #000000;

//                   .w-nav-title {
//                     color: inherit;
//                   }
//                 }

//                 .w-nav-anchor:hover {
//                   background-color: #f5f5f5;
//                   color: #d60700;
//                 }

//                 .w-nav-anchor.active {
//                   background-color: #f5f5f5;
//                   color: #d60700;
//                 }
//               }
//             }

//             .hover_simple {}

//             .w-nav-options {}

//             .hidden {
//               display: none !important;
//             }
//           }

//           .ush_menu_1 {}

//           .height_full {}

//           .dropdown_hor {}

//           .m_align_left {
//             text-align: left;
//           }

//           .m_layout_dropdown {}

//           .type_desktop {}

//           .w-search {
//             line-height: inherit;

//             a {
//               display: block;
//               outline: none !important;
//               text-decoration: none;
//               background: none;
//               transition-property: background, box-shadow, border, color, opacity,
//                 transform;
//               transition-duration: 0.3s;
//             }

//             .w-search-open {
//               text-align: center;
//               width: 2.2em;

//               i {
//                 display: inline-block;
//                 font-style: normal;
//                 font-variant: normal;
//                 text-rendering: auto;
//                 vertical-align: top;
//                 line-height: inherit;
//                 font-weight: 900;
//               }

//               i::before {
//                 content: url(../../../assets/images/icons/search.svg);
//               }
//             }

//             .w-search-form {
//               position: absolute;
//               top: 0;
//               left: -1.5rem;
//               right: -1.5rem;
//               height: 0;
//               z-index: 120;
//               transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
//               background: #ffffff;
//               color: #d60700;

//               .w-form-row {
//                 position: static;
//                 margin: 0;

//                 .w-form-row-field {
//                   position: absolute;
//                   top: 50%;
//                   left: 0;
//                   right: 0;
//                   margin-top: -1.4rem;

//                   input {
//                     font-size: 1rem !important;
//                     padding: 0 3rem 0 1.5rem;
//                     border-radius: 0;
//                     display: block;
//                     box-shadow: none !important;
//                     border: none !important;
//                     background: none;
//                     color: inherit;
//                     transition: none;
//                     line-height: 2.8rem;
//                     height: 2.8rem;
//                     width: 100%;
//                     outline: none !important;
//                   }
//                 }

//                 .w-search-close {
//                   outline: none !important;
//                   top: 50%;
//                   width: auto;
//                   padding-right: 1.5rem;
//                   margin-top: -1.4rem;
//                   position: absolute;
//                   right: 0;
//                   text-align: center;
//                   line-height: 2.8rem;
//                   cursor: pointer;
//                   color: inherit !important;
//                   opacity: 0.5;
//                   transition: color 0.3s, opacity 0.3s, transform 0.3s;
//                 }

//                 .w-search-close::before {
//                   content: url(../../../assets/images/icons/times.svg);
//                   font-weight: 400;
//                   vertical-align: top;
//                 }
//               }

//               .for_text {}
//             }
//           }

//           .w-search:not(.layout_simple) {
//             margin-left: 0;
//             margin-right: 0;
//           }

//           .w-search:not(.layout_simple):last-child {
//             margin-right: -0.5em;
//           }

//           .ush_search_1 {
//             font-size: 18px;
//           }

//           .layout_fullwidth {}
//         }
//       }
//     }
//   }
// }
