<div class="container-fluid-nav">
  <div class="header">
    <div class="l-subheader-h">
      <div class="l-subheader-cell at_left">
        <div class="w-socials smallscreen">
          <div class="w-socials-list">
            <div class="w-socials-item facebook">
              <a class="w-socials-item-link" rel="noopener nofollow" target="_blank" href="https://www.facebook.com/"
                title="Facebook" aria-label="Facebook">
                <span class="w-socials-item-link-hover"></span>
              </a>
              <div class="w-socials-item-popup"><span>Facebook</span></div>
            </div>
            <div class="w-socials-item twitter">
              <a class="w-socials-item-link" rel="noopener nofollow" target="_blank" href="https://twitter.com/"
                title="Twitter" aria-label="Twitter"><span class="w-socials-item-link-hover"></span></a>
              <div class="w-socials-item-popup"><span>Twitter</span></div>
            </div>
            <div class="w-socials-item linkedin">
              <a class="w-socials-item-link" rel="noopener nofollow" target="_blank"
                href="https://www.linkedin.com/company/" title="LinkedIn" aria-label="LinkedIn"><span
                  class="w-socials-item-link-hover"></span></a>
              <div class="w-socials-item-popup"><span>LinkedIn</span></div>
            </div>
            <div class="w-socials-item instagram">
              <a class="w-socials-item-link" rel="noopener nofollow" target="_blank" href="https://www.instagram.com/"
                title="Instagram" aria-label="Instagram"><span class="w-socials-item-link-hover"></span></a>
              <div class="w-socials-item-popup"><span>Instagram</span></div>
            </div>
            <div class="w-socials-item youtube">
              <a class="w-socials-item-link" rel="noopener nofollow" target="_blank"
                href="https://www.youtube.com/channel/" title="YouTube" aria-label="YouTube"><span
                  class="w-socials-item-link-hover"></span></a>
              <div class="w-socials-item-popup"><span>YouTube</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="l-subheader-cell at_center"></div>
      <div class="l-subheader-cell at_right">
        <div class="w-html ush_html_1">
          <div id="google_language_translator" class="default-language-en">
            <div class="skiptranslate goog-te-gadget" dir="ltr">
              <div id=":0.targetLanguage">
                <select class="goog-te-combo" aria-label="Language Translate Widget">
                  <option value="">Select Language</option>
                  <option value="en">English</option>
                  <option value="tl">Filipino</option>
                  <option value="fr">French</option>
                  <option value="fy">Frisian</option>
                  <option value="de">German</option>
                  <option value="ga">Irish</option>
                  <option value="it">Italian</option>
                  <option value="ja">Japanese</option>
                  <option value="ms">Malay</option>
                  <option value="pl">Polish</option>
                  <option value="pt">Portuguese</option>
                  <option value="ro">Romanian</option>
                  <option value="es">Spanish</option>
                  <option value="th">Thai</option>
                </select>
              </div>
              &nbsp;&nbsp;Powered by
              <span>
                <a class="goog-logo-link" href="https://translate.google.com" target="_blank">
                  <img src="https://www.gstatic.com/images/branding/googlelogo/1x/googlelogo_color_42x16dp.png"
                    alt="Google Translate" />
                  Translate
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="w-socials largeScreen">
          <div class="w-socials-list">
            <div class="w-socials-item facebook">
              <a class="w-socials-item-link" rel="noopener nofollow" target="_blank" href="https://www.facebook.com/"
                title="Facebook" aria-label="Facebook">
                <span class="w-socials-item-link-hover"></span>
              </a>
              <div class="w-socials-item-popup"><span>Facebook</span></div>
            </div>
            <div class="w-socials-item twitter">
              <a class="w-socials-item-link" rel="noopener nofollow" target="_blank" href="https://twitter.com/"
                title="Twitter" aria-label="Twitter"><span class="w-socials-item-link-hover"></span></a>
              <div class="w-socials-item-popup"><span>Twitter</span></div>
            </div>
            <div class="w-socials-item linkedin">
              <a class="w-socials-item-link" rel="noopener nofollow" target="_blank"
                href="https://www.linkedin.com/company/" title="LinkedIn" aria-label="LinkedIn"><span
                  class="w-socials-item-link-hover"></span></a>
              <div class="w-socials-item-popup"><span>LinkedIn</span></div>
            </div>
            <div class="w-socials-item instagram">
              <a class="w-socials-item-link" rel="noopener nofollow" target="_blank" href="https://www.instagram.com/"
                title="Instagram" aria-label="Instagram"><span class="w-socials-item-link-hover"></span></a>
              <div class="w-socials-item-popup"><span>Instagram</span></div>
            </div>
            <div class="w-socials-item youtube">
              <a class="w-socials-item-link" rel="noopener nofollow" target="_blank"
                href="https://www.youtube.com/channel/" title="YouTube" aria-label="YouTube"><span
                  class="w-socials-item-link-hover"></span></a>
              <div class="w-socials-item-popup"><span>YouTube</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand navbar-logo" routerLink="/">
      <img src="./assets/images/logo/icon-new-logo-text.png" class="attachment-large size-large" />
    </a>


    <accordion class="accordion-main" [closeOthers]="true">

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li *ngIf="!isWidthLessThan992px" class="nav-item active">
            <a class="nav-link anchor-link" routerLink="/">
              Home
            </a>
          </li>

          <accordion-group [panelClass]="'custom-accordion-panel-Class'" heading="Home" *ngIf="isWidthLessThan992px"
            routerLink="/">
          </accordion-group>



          <li class="nav-item active">

            <div *ngIf="!isWidthLessThan992px" class="btn-group" dropdown (mouseleave)="dp1.hide()" triggers="hover"
              #dp1="bs-dropdown">
              <a id="button-animated" dropdownToggle class="nav-link anchor-link" aria-controls="dropdown-animated">
                About Us
              </a>
              <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-list" role="menu"
                aria-labelledby="button-animated" (mouseleave)="dp1.hide()">
                <!-- <li role="menuitem">
                <a class="dropdown-item" >
                  Message from Our CEO
                </a>
              </li>
              <li role="menuitem">
                <a class="dropdown-item" >
                  Executive Team
                </a>
              </li> -->
                <li role="menuitem">
                  <a class="dropdown-item">
                    Mission, Philosophy &amp; Business Ethics
                  </a>
                </li>
                <!-- <li role="menuitem">
                <a class="dropdown-item" >
                  Awards, Certifications &amp; Partnerships
                </a>
              </li>
              <li role="menuitem">
                <a class="dropdown-item" >
                  Our CSR Initiatives
                </a>
              </li>
              <li role="menuitem">
                <a class="dropdown-item" >
                  Fun@Work
                </a>
              </li> -->
              </ul>
            </div>


            <accordion-group [panelClass]="'custom-accordion-panel-Class'" heading="About Us"
              *ngIf="isWidthLessThan992px">
              <a class="dropdown-item">
                Mission, Philosophy &amp; Business Ethics
              </a>
            </accordion-group>

          </li>

          <li class="nav-item active">
            <div *ngIf="!isWidthLessThan992px" class="btn-group" dropdown (mouseleave)="dp2.hide()" triggers="hover"
              #dp2="bs-dropdown">
              <a id="button-animated" dropdownToggle class="nav-link anchor-link" aria-controls="dropdown-animated">
                Workforce Solutions
              </a>
              <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-list" role="menu"
                aria-labelledby="button-animated" (mouseleave)="dp2.hide()" (mouseleave)="dp2.hide()">
                <li role="menuitem">
                  <a class="dropdown-item" routerLink="/sow">
                    SOW
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item" routerLink="/contingent-staffing">
                    Contingent Staffing
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item" routerLink="/direct-hire">
                    Direct-Hire
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item" routerLink="/recruitment-process-outsourcing">
                    Recruitment Process Outsourcing
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item" routerLink="/near-shore-and-offshore-staffing">
                    Near Shore Staffing
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item" routerLink="/payroll-solutions">
                    Payroll Solutions
                  </a>
                </li>
              </ul>
            </div>

            <accordion-group [panelClass]="'custom-accordion-panel-Class'" heading="Workforce Solutions"
              *ngIf="isWidthLessThan992px">
              <a class="dropdown-item" routerLink="/sow">
                SOW
              </a>
              <a class="dropdown-item" routerLink="/contingent-staffing">
                Contingent Staffing
              </a>
              <a class="dropdown-item" routerLink="/direct-hire">
                Direct-Hire
              </a>
              <a class="dropdown-item" routerLink="/recruitment-process-outsourcing">
                Recruitment Process Outsourcing
              </a>
              <a class="dropdown-item" routerLink="/near-shore-and-offshore-staffing">
                Near Shore Staffing
              </a>
              <a class="dropdown-item" routerLink="/payroll-solutions">
                Payroll Solutions
              </a>
            </accordion-group>

          </li>

          <li class="nav-item active">
            <div *ngIf="!isWidthLessThan992px" class="btn-group" dropdown (mouseleave)="dp3.hide()" triggers="hover"
              #dp3="bs-dropdown">
              <a id="button-animated" dropdownToggle class="nav-link anchor-link" aria-controls="dropdown-animated">
                Core Expertise
              </a>
              <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-list" role="menu"
                aria-labelledby="button-animated" (mouseleave)="dp3.hide()">
                <li role="menuitem">
                  <a class="dropdown-item">
                    Banking &amp; Finance
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item">
                    Insurance
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item">
                    Pharmaceutical Staffing
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item">
                    Technology &amp; Engineering
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item">
                    Healthcare
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item">
                    Telecom
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item">
                    Oil &amp; Gas
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item">
                    Manufacturing
                  </a>
                </li>
              </ul>
            </div>

            <accordion-group [panelClass]="'custom-accordion-panel-Class'" heading="Core Expertise"
              *ngIf="isWidthLessThan992px">
              <a class="dropdown-item">
                Banking &amp; Finance
              </a>
              <a class="dropdown-item">
                Insurance
              </a>
              <a class="dropdown-item">
                Pharmaceutical Staffing
              </a>
              <a class="dropdown-item">
                Technology &amp; Engineering
              </a>
              <a class="dropdown-item">
                Healthcare
              </a>
              <a class="dropdown-item">
                Telecom
              </a>
              <a class="dropdown-item">
                Oil &amp; Gas
              </a>
              <a class="dropdown-item">
                Manufacturing
              </a>
            </accordion-group>

          </li>

          <li class="nav-item active">
            <div *ngIf="!isWidthLessThan992px" class="btn-group" dropdown (mouseleave)="dp4.hide()" triggers="hover"
              #dp4="bs-dropdown">
              <a id="button-animated" dropdownToggle class="nav-link anchor-link" aria-controls="dropdown-animated">
                Managed IT Services
              </a>
              <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-list" role="menu"
                aria-labelledby="button-animated" (mouseleave)="dp4.hide()">
                <li role="menuitem">
                  <a class="dropdown-item">
                    Digital Transformation
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item">
                    Enterprise Application Development
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item">
                    Enterprise Business Solutions
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item">
                    UI/UX Design Services
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item">
                    Business Analytics
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item">
                    IT Infra and Support
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item">
                    Blockchain
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item">
                    AI Chatbots
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item">
                    Mobility Services
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item">
                    Digital Marketing
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item">
                    IoT
                  </a>
                </li>
              </ul>
            </div>

            <accordion-group [panelClass]="'custom-accordion-panel-Class'" heading="Managed IT Services"
              *ngIf="isWidthLessThan992px">
              <a class="dropdown-item">
                Digital Transformation
              </a>
              <a class="dropdown-item">
                Enterprise Application Development
              </a>
              <a class="dropdown-item">
                Enterprise Business Solutions
              </a>
              <a class="dropdown-item">
                UI/UX Design Services
              </a>
              <a class="dropdown-item">
                Business Analytics
              </a>
              <a class="dropdown-item">
                IT Infra and Support
              </a>
              <a class="dropdown-item">
                Blockchain
              </a>
              <a class="dropdown-item">
                AI Chatbots
              </a>
              <a class="dropdown-item">
                Mobility Services
              </a>
              <a class="dropdown-item">
                Digital Marketing
              </a>
              <a class="dropdown-item">
                IoT
              </a>
            </accordion-group>

          </li>

          <li class="nav-item active">
            <div *ngIf="!isWidthLessThan992px" class="btn-group" dropdown (mouseleave)="dp5.hide()" triggers="hover"
              #dp5="bs-dropdown">
              <a id="button-animated" dropdownToggle class="nav-link anchor-link" aria-controls="dropdown-animated">
                Careers
              </a>
              <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-list" role="menu"
                aria-labelledby="button-animated" (mouseleave)="dp5.hide()">
                <li role="menuitem">
                  <a class="dropdown-item">
                    Submit Resume
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item">
                    Consulting Jobs
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item">
                    In-House Jobs
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item">
                    Employee Benefits
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item">
                    Our CSR Initiatives
                  </a>
                </li>
              </ul>
            </div>

            <accordion-group [panelClass]="'custom-accordion-panel-Class'" heading="Careers"
              *ngIf="isWidthLessThan992px">
              <a class="dropdown-item">
                Submit Resume
              </a>
              <a class="dropdown-item">
                Consulting Jobs
              </a>
              <a class="dropdown-item">
                In-House Jobs
              </a>
              <a class="dropdown-item">
                Employee Benefits
              </a>
              <a class="dropdown-item">
                Our CSR Initiatives
              </a>
            </accordion-group>

          </li>

          <li class="nav-item active">
            <a *ngIf="!isWidthLessThan992px" class="nav-link anchor-link">
              Blog
            </a>

            <accordion-group [panelClass]="'custom-accordion-panel-Class'" heading="Blog" *ngIf="isWidthLessThan992px">
            </accordion-group>
          </li>



          <li class="nav-item active">
            <div class="btn-group">
              <a *ngIf="!isWidthLessThan992px" class="nav-link anchor-link" routerLink="/contact-us">
                Contact Us
              </a>
              <!-- <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-list" role="menu"
              aria-labelledby="button-animated" (mouseleave)="dp6.hide()">
              <li role="menuitem">
                <a class="dropdown-item" >
                  Consultant Helpdesk
                </a>
              </li>
              <li role="menuitem">
                <a class="dropdown-item" >
                  Locations
                </a>
              </li>
            </ul> -->

              <accordion-group [panelClass]="'custom-accordion-panel-Class'" heading="Contact Us"
                *ngIf="isWidthLessThan992px" routerLink="/contact-us">
              </accordion-group>
            </div>
          </li>

        </ul>
      </div>

    </accordion>
  </nav>
</div>



<!-- <div class="header">
  <div class="l-subheader-h">
    <div class="l-subheader-cell at_left">
      <div class="w-socials smallscreen">
        <div class="w-socials-list">
          <div class="w-socials-item facebook">
            <a class="w-socials-item-link" rel="noopener nofollow" target="_blank" href="https://www.facebook.com/"
              title="Facebook" aria-label="Facebook">
              <span class="w-socials-item-link-hover"></span>
            </a>
            <div class="w-socials-item-popup"><span>Facebook</span></div>
          </div>
          <div class="w-socials-item twitter"><a class="w-socials-item-link" rel="noopener nofollow" target="_blank"
              href="https://twitter.com/" title="Twitter" aria-label="Twitter"><span
                class="w-socials-item-link-hover"></span></a>
            <div class="w-socials-item-popup"><span>Twitter</span></div>
          </div>
          <div class="w-socials-item linkedin"><a class="w-socials-item-link" rel="noopener nofollow" target="_blank"
              href="https://www.linkedin.com/company/" title="LinkedIn" aria-label="LinkedIn"><span
                class="w-socials-item-link-hover"></span></a>
            <div class="w-socials-item-popup"><span>LinkedIn</span></div>
          </div>
          <div class="w-socials-item instagram"><a class="w-socials-item-link" rel="noopener nofollow" target="_blank"
              href="https://www.instagram.com/" title="Instagram" aria-label="Instagram"><span
                class="w-socials-item-link-hover"></span></a>
            <div class="w-socials-item-popup"><span>Instagram</span></div>
          </div>
          <div class="w-socials-item youtube"><a class="w-socials-item-link" rel="noopener nofollow" target="_blank"
              href="https://www.youtube.com/channel/" title="YouTube" aria-label="YouTube"><span
                class="w-socials-item-link-hover"></span></a>
            <div class="w-socials-item-popup"><span>YouTube</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="l-subheader-cell at_center"></div>
    <div class="l-subheader-cell at_right">
      <div class="w-html ush_html_1">
        <div id="google_language_translator" class="default-language-en">
          <div class="skiptranslate goog-te-gadget" dir="ltr">
            <div id=":0.targetLanguage">
              <select class="goog-te-combo" aria-label="Language Translate Widget">
                <option value="">Select Language</option>
                <option value="en">English</option>
                <option value="tl">Filipino</option>
                <option value="fr">French</option>
                <option value="fy">Frisian</option>
                <option value="de">German</option>
                <option value="ga">Irish</option>
                <option value="it">Italian</option>
                <option value="ja">Japanese</option>
                <option value="ms">Malay</option>
                <option value="pl">Polish</option>
                <option value="pt">Portuguese</option>
                <option value="ro">Romanian</option>
                <option value="es">Spanish</option>
                <option value="th">Thai</option>
              </select>
            </div>
            &nbsp;&nbsp;Powered by
            <span>
              <a class="goog-logo-link" href="https://translate.google.com" target="_blank">
                <img src="https://www.gstatic.com/images/branding/googlelogo/1x/googlelogo_color_42x16dp.png"
                  alt="Google Translate">
                Translate
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="w-socials largeScreen">
        <div class="w-socials-list">
          <div class="w-socials-item facebook">
            <a class="w-socials-item-link" rel="noopener nofollow" target="_blank" href="https://www.facebook.com/"
              title="Facebook" aria-label="Facebook">
              <span class="w-socials-item-link-hover"></span>
            </a>
            <div class="w-socials-item-popup"><span>Facebook</span></div>
          </div>
          <div class="w-socials-item twitter"><a class="w-socials-item-link" rel="noopener nofollow" target="_blank"
              href="https://twitter.com/" title="Twitter" aria-label="Twitter"><span
                class="w-socials-item-link-hover"></span></a>
            <div class="w-socials-item-popup"><span>Twitter</span></div>
          </div>
          <div class="w-socials-item linkedin"><a class="w-socials-item-link" rel="noopener nofollow" target="_blank"
              href="https://www.linkedin.com/company/" title="LinkedIn" aria-label="LinkedIn"><span
                class="w-socials-item-link-hover"></span></a>
            <div class="w-socials-item-popup"><span>LinkedIn</span></div>
          </div>
          <div class="w-socials-item instagram"><a class="w-socials-item-link" rel="noopener nofollow" target="_blank"
              href="https://www.instagram.com/" title="Instagram" aria-label="Instagram"><span
                class="w-socials-item-link-hover"></span></a>
            <div class="w-socials-item-popup"><span>Instagram</span></div>
          </div>
          <div class="w-socials-item youtube"><a class="w-socials-item-link" rel="noopener nofollow" target="_blank"
              href="https://www.youtube.com/channel/" title="YouTube" aria-label="YouTube"><span
                class="w-socials-item-link-hover"></span></a>
            <div class="w-socials-item-popup"><span>YouTube</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="navbar">

  <div class="l-subheader at_middle">
    <div class="l-subheader-h">
      <div class="l-subheader-cell at_left">
        <div class="w-image ush_image_1 with_transparent">
          <a class="w-image-h" routerLink="/">
            <img src="./assets/images/logo/logo.jpg" class="attachment-large size-large">
          </a>
        </div>
      </div>
      <div class="l-subheader-cell at_center">

      </div>
      <div class="l-subheader-cell at_right">
        <nav class="w-nav ush_menu_1 height_full dropdown_hor m_align_left m_layout_dropdown type_desktop" itemscope=""
          itemtype="https://schema.org/SiteNavigationElement">
          <a class="w-nav-control" (click)="clickOnNavControl()" href="javascript:void(0);" aria-label="Menu">
            <div class="w-nav-icon">
              <i></i>
            </div>
          </a>
          <ul class="w-nav-list level_1 hover_simple" [ngStyle]="{'display': menuTogle ? 'block' : 'none'}">
            <li id="menu-item-15462"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home w-nav-item level_1 menu-item-15462">
              <a class="w-nav-anchor level_1 active" routerLink="/">
                <span class="w-nav-title">
                  Home
                </span>
                <span class="w-nav-arrow">

                </span>
              </a>
            </li>
            <li id="menu-item-15559"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children w-nav-item level_1 menu-item-15559 togglable">
              <a class="w-nav-anchor level_1" (click)="clickOnAbout($event)">
                <span class="w-nav-title">
                  About Us
                </span>
                <span class="w-nav-arrow">

                </span>
              </a>
              <ul id="aboutUsLavel2Menu" class="w-nav-list level_2">
                <li id="menu-item-15464"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-15464">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Message from Our CEO
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-16362"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-16362">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Executive Team
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15580"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-15580">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Mission, Philosophy &amp; Business Ethics
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-16890"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-16890">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Awards, Certifications &amp; Partnerships
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15467"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-15467">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Our CSR Initiatives
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15468"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-15468">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Fun@Work
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
              </ul>
            </li>
            <li id="menu-item-15469"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children w-nav-item level_1 menu-item-15469 togglable">
              <a class="w-nav-anchor level_1" routerLink="/">
                <span class="w-nav-title">
                  Workforce Solutions
                </span>
                <span class="w-nav-arrow">

                </span>
              </a>
              <ul class="w-nav-list level_2">
                <li id="menu-item-15470"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-15470">
                  <a class="w-nav-anchor level_2" routerLink="/sow">
                    <span class="w-nav-title">
                      SOW
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15471"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-15471">
                  <a class="w-nav-anchor level_2" routerLink="/contingent-staffing">
                    <span class="w-nav-title">
                      Contingent Staffing
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15472"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-15472">
                  <a class="w-nav-anchor level_2" routerLink="/direct-hire">
                    <span class="w-nav-title">
                      Direct-Hire
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15473"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-15473">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Recruitment Process Outsourcing
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15474"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-15474">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Near Shore Staffing
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15475"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-15475">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Payroll Solutions
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
              </ul>
            </li>
            <li id="menu-item-15476"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children w-nav-item level_1 menu-item-15476 togglable">
              <a class="w-nav-anchor level_1" routerLink="/">
                <span class="w-nav-title">
                  Core Expertise
                </span>
                <span class="w-nav-arrow">

                </span>
              </a>
              <ul class="w-nav-list level_2">
                <li id="menu-item-15508"
                  class="menu-item menu-item-type-custom menu-item-object-custom w-nav-item level_2 menu-item-15508">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Banking &amp; Finance
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15503"
                  class="menu-item menu-item-type-custom menu-item-object-custom w-nav-item level_2 menu-item-15503">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Insurance
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15477"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-15477">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Pharmaceutical Staffing
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15478"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-15478">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Technology &amp; Engineering
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15505"
                  class="menu-item menu-item-type-custom menu-item-object-custom w-nav-item level_2 menu-item-15505">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Healthcare
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15506"
                  class="menu-item menu-item-type-custom menu-item-object-custom w-nav-item level_2 menu-item-15506">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Telecom
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15504"
                  class="menu-item menu-item-type-custom menu-item-object-custom w-nav-item level_2 menu-item-15504">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Oil &amp; Gas
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15507"
                  class="menu-item menu-item-type-custom menu-item-object-custom w-nav-item level_2 menu-item-15507">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Manufacturing
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
              </ul>
            </li>
            <li id="menu-item-15479"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children w-nav-item level_1 menu-item-15479 togglable">
              <a class="w-nav-anchor level_1" ><span class="w-nav-title">Managed IT Services</span><span
                  class="w-nav-arrow"></span></a>
              <ul class="w-nav-list level_2">
                <li id="menu-item-15480"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-15480">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Digital Transformation
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15481"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-15481">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Enterprise Application Development
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15482"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-15482">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Enterprise Business Solutions
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15483"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-15483">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      UI/UX Design Services
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15484"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-15484">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Business Analytics
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15485"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-15485">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      IT Infra and Support
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15486"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-15486">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Blockchain
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15487"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-15487">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      AI Chatbots
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15488"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-15488">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Mobility Services
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15489"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-15489">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Digital Marketing
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15490"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-15490">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      IoT
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
              </ul>
            </li>
            <li id="menu-item-15491"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children w-nav-item level_1 menu-item-15491 togglable">
              <a class="w-nav-anchor level_1" >
                <span class="w-nav-title">
                  Careers
                </span>
                <span class="w-nav-arrow">

                </span>
              </a>
              <ul class="w-nav-list level_2">
                <li id="menu-item-15492"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-15492">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Submit Resume
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15493"
                  class="menu-item menu-item-type-custom menu-item-object-custom w-nav-item level_2 menu-item-15493">
                  <a class="w-nav-anchor level_2" target="_blank" routerLink="/">
                    <span class="w-nav-title">
                      Consulting Jobs
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15494"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-15494">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      In-House Jobs
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15496"
                  class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-15496">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Employee Benefits
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
              </ul>
            </li>
            <li id="menu-item-15497"
              class="menu-item menu-item-type-custom menu-item-object-custom w-nav-item level_1 menu-item-15497">
              <a class="w-nav-anchor level_1" routerLink="/">
                <span class="w-nav-title">
                  Blog
                </span>
                <span class="w-nav-arrow">

                </span>
              </a>
            </li>
            <li id="menu-item-15498"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children w-nav-item level_1 menu-item-15498 togglable">
              <a class="w-nav-anchor level_1" routerLink="/contact-us">
                <span class="w-nav-title">
                  Contact Us
                </span>
                <span class="w-nav-arrow">

                </span>
              </a>
              <ul class="w-nav-list level_2">
                <li id="menu-item-15499"
                  class="menu-item menu-item-type-custom menu-item-object-custom w-nav-item level_2 menu-item-15499">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Consultant Helpdesk
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
                <li id="menu-item-15500"
                  class="menu-item menu-item-type-custom menu-item-object-custom w-nav-item level_2 menu-item-15500">
                  <a class="w-nav-anchor level_2" routerLink="/">
                    <span class="w-nav-title">
                      Locations
                    </span>
                    <span class="w-nav-arrow">

                    </span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="w-nav-close">

            </li>
          </ul>
          <div class="w-nav-options hidden">
          </div>
        </nav>
        <div class="w-search ush_search_1 layout_fullwidth">
          <a class="w-search-open" href="javascript:void(0);" aria-label="Search">
            <i class="fas fa-search">

            </i>
          </a>
          <div class="w-search-form">
            <form class="w-form-row for_text" autocomplete="off" action="http://www.net2source.com/" method="get">
              <div class="w-form-row-field">
                <input type="text" name="s" id="us_form_search_s" placeholder="Search" aria-label="Search">
              </div>
              <a class="w-search-close" href="javascript:void(0);" aria-label="Close">

              </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div> -->
