.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.thumbnail-image {
  position: relative;
  z-index: 0;

  img {
    position: relative;
    z-index: 0;
  }
}

.content {
  width: 100%;
  padding: 0;
  margin: 0;
  background: #f8f8f8;
  z-index: 0;

  .top-slider-section {
    background-image: url(../../../assets/images/home/top-banner.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .top-section-inner {
      width: 100%;
      height: 600px;
      text-align: center;
      vertical-align: middle;

      h2 {
        font-weight: bold;
        font-size: 42px;
        color: #ffffff;
        text-align: center;
        line-height: 600px;
        letter-spacing: -0.03em;
      }
    }
  }

  .second-section {
    background-image: url(../../../assets/images/home/about-us.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    .inner-secs {
      margin: 0 -1.5rem;
      display: flex;
      flex-wrap: wrap;

      .main-text {
        width: 100%;
        display: flex;
        flex-direction: column;

        .inner {
          justify-content: center;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          text-align: left;

          h5 {
            padding: 0.5em 0;
            margin-bottom: 0;
            transition: color 0.3s;
            color: #000000;
            font-weight: 400;
            font-size: 20px;
            line-height: 1.4;
            letter-spacing: 0em;
            margin-bottom: 20px;
          }

          .subtitle {
            color: #000000;
            font-size: 26px;
            font-weight: bold;
            line-height: 1.4;
            letter-spacing: 0em;

            span {
              color: #ff0000;
              font-size: 26px;
              font-weight: bold;
              line-height: 1.4;
              letter-spacing: 0em;
            }
          }

          p {
            text-align: justify;

            span {
              color: #000000;
            }
          }
        }
      }

      .hidden-secs {
        display: none;
      }
    }
  }

  .third-section {

    .left {
      display: inline-block;
      width: 100%;
      padding-top: 40px;
      padding-bottom: 40px;
      background-image: url(../../../assets/images/home/core-experience.jpeg);
      background-position: center center;
      background-size: cover;
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;

      h2 {
        b {
          font-weight: bold;
          font-size: 45px;
          color: #ffffff;
          text-align: center;
          line-height: 1.4;
          letter-spacing: -0.03em;
        }
      }

      p {
        span {
          color: #ffffff;
          text-align: center;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
        }
      }

      .inner-left {
        .btn-wrapper {
          font-size: 15px;
          line-height: 1.2;
          font-weight: 700;
          font-style: normal;
          text-transform: uppercase;
          letter-spacing: 0em;
          border-radius: 1.6em;
          padding: 0.75em 1.1em;
          background: #ff0900;
          border-color: transparent;
          color: #ffffff;
          box-shadow: 0 0em 0em rgba(0, 0, 0, 0.2);
          display: inline-block;
          vertical-align: top;
          text-align: center;
          transition: background 0.3s, border-color 0.3s, box-shadow 0.3s,
            opacity 0.3s, color 0.3s;
          outline: none;
          box-sizing: border-box;
          cursor: pointer;
        }
      }
    }

    .right {
      display: inline-block;
      width: 100%;
      padding-top: 40px;
      padding-bottom: 40px;
      background-image: url(../../../assets/images/home/work-force.jpeg);
      background-position: center center;
      background-size: cover;
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;

      h2 {
        b {
          font-weight: bold;
          font-size: 45px;
          color: #ffffff;
          text-align: center;
          line-height: 1.4;
          letter-spacing: -0.03em;
        }
      }

      p {
        span {
          color: #ffffff;
          text-align: center;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
        }
      }

      .inner-right {
        .btn-wrapper {
          font-size: 15px;
          line-height: 1.2;
          font-weight: 700;
          font-style: normal;
          text-transform: uppercase;
          letter-spacing: 0em;
          border-radius: 1.6em;
          padding: 0.75em 1.1em;
          background: #ffffff;
          border-color: transparent;
          color: #000000;
          box-shadow: 0 0em 0em rgba(0, 0, 0, 0.2);
          display: inline-block;
          vertical-align: top;
          text-align: center;
          transition: background 0.3s, border-color 0.3s, box-shadow 0.3s,
            opacity 0.3s, color 0.3s;
          outline: none;
          box-sizing: border-box;
          cursor: pointer;
        }
      }
    }
  }

  .fourth-section {
    background-image: url(../../../assets/images/home/awards.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;

    .fourth-section-left {
      display: inline-block;
      width: 100%;

      .inner-box-four {
        display: block;
        margin: 0 -1.5rem;

        // owl-carousel {
        //   margin-right: 30%;
        // }
      }
    }

    .fourth-section-right {
      display: inline-block;
      width: 100%;
      vertical-align: top;
      text-align: right;
      margin-top: 80px;

      .text-wrapper {
        h5 {
          color: #ff0000;
          line-height: 2;
          line-height: 2;
          font-weight: 400;
          font-size: 20px;
          letter-spacing: 0em;
        }

        span {
          strong {
            color: #000;
            font-size: 30px;
            line-height: 2;
            font-weight: bold;
            letter-spacing: 0em;
          }
        }
      }

      .btn-wrapper {
        font-size: 15px;
        line-height: 1.2;
        font-weight: 700;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 0em;
        border-radius: 1.6em;
        padding: 0.75em 1.1em;
        background: #ff0900;
        border-color: transparent;
        color: #ffffff;
        box-shadow: 0 0em 0em rgba(0, 0, 0, 0.2);
        display: inline-block;
        vertical-align: top;
        text-align: center;
        transition: background 0.3s, border-color 0.3s, box-shadow 0.3s,
          opacity 0.3s, color 0.3s;
        outline: none;
        box-sizing: border-box;
        cursor: pointer;
      }
    }
  }

  .fifth-section {
    background-image: url(../../../assets/images/home/jobs-career.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 44px;
    padding-bottom: 38px;

    .fifth-section-left {
      display: inline-block;
      width: 100%;
      vertical-align: top;

      .text-wrapper {
        h5 {
          color: #fff;
          line-height: 2;
          font-weight: 400;
          font-size: 20px;
          letter-spacing: 0em;
        }

        span {
          strong {
            color: #fff;
            font-size: 30px;
            line-height: 2;
            font-weight: bold;
            letter-spacing: 0em;
          }
        }
      }

      .btn-wrapper {
        font-size: 15px;
        line-height: 1.2;
        font-weight: 700;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 0em;
        border-radius: 1.6em;
        padding: 0.75em 1.1em;
        background: #ffffff;
        border-color: transparent;
        color: #000000;
        box-shadow: 0 0em 0em rgba(0, 0, 0, 0.2);
        display: inline-block;
        vertical-align: top;
        text-align: center;
        transition: background 0.3s, border-color 0.3s, box-shadow 0.3s,
          opacity 0.3s, color 0.3s;
        outline: none;
        box-sizing: border-box;
        cursor: pointer;
      }
    }

    .fifth-section-right {
      display: none;
      width: 62%;

      .inner-box {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1.5rem;

        .column-one {
          padding: 40px 60px;
          margin-left: 4%;
          background-color: #fff;
          border-radius: 8%;
          animation-name: afr;
          opacity: 1;
          border-color: #e5e5e5;
          display: flex;
          flex-direction: column;
          animation-duration: 0.7s;
          animation-fill-mode: both;
          transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);
          cursor: pointer;

          h5 {
            text-align: center;
            margin-bottom: 0;
            padding-top: 0;
            color: #000000;
            font-weight: 400;
            font-size: 22px;
            line-height: 1.4;
            letter-spacing: 0em;
            margin: 0 0 1.5rem;

            strong {
              text-align: center;
              color: #000000;
              font-weight: 400;
              font-size: 22px;
              line-height: 1.4;
              letter-spacing: 0em;
              margin: 0 0 1.5rem;
            }
          }
        }

        .column-two {
          padding: 40px 60px;
          margin-left: 4%;
          background-color: #fff;
          border-radius: 8%;
          animation-name: afr;
          opacity: 1;
          border-color: #e5e5e5;
          display: flex;
          flex-direction: column;
          animation-duration: 0.7s;
          animation-fill-mode: both;
          transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);
          cursor: pointer;

          h5 {
            text-align: center;
            margin-bottom: 0;
            padding-top: 0;
            color: #000000;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 1.4;
            letter-spacing: 0em;
            margin: 0 0 1.5rem;

            strong {
              text-align: center;
              color: #000000;
              font-weight: 400;
              font-size: 22px;
              line-height: 1.4;
              letter-spacing: 0em;
              margin: 0 0 1.5rem;
            }
          }
        }

        // .column-three {
        //   padding: 40px 60px;
        //   margin-left: 4%;
        //   background-color: #fff;
        //   border-radius: 8%;
        //   animation-name: afr;
        //   opacity: 1;
        //   border-color: #e5e5e5;
        //   display: flex;
        //   flex-direction: column;
        //   animation-duration: 0.7s;
        //   animation-fill-mode: both;
        //   transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);
        //   cursor: pointer;

        //   h5 {
        //     text-align: center;
        //     margin-bottom: 0;
        //     padding-top: 0;
        //     color: #000000;
        //     font-family: Arial, Helvetica, sans-serif;
        //     font-weight: 400;
        //     font-size: 20px;
        //     line-height: 1.4;
        //     letter-spacing: 0em;
        //     margin: 0 0 1.5rem;

        //     strong {
        //       text-align: center;
        //       color: #000000;
        //       font-weight: 400;
        //       font-size: 22px;
        //       line-height: 1.4;
        //       letter-spacing: 0em;
        //       margin: 0 0 1.5rem;
        //     }
        //   }
        // }
      }
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 60px;
}

@media screen and (max-width: 1170px) and (min-width: 900px) {
  .content {

    .third-section {
      display: flex;

      .left {
        flex: 1;
        display: inline-flex;
        align-items: center;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-right: 2px;
      }

      .right {
        flex: 1;
        display: inline-flex;
        align-items: center;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-left: 2px;
      }
    }

    .fifth-section {
      padding-left: 8%;
      padding-right: 8%;
      padding-top: 44px;
      padding-bottom: 38px;

      .fifth-section-left {
        display: inline-block;
        width: 40%;
        vertical-align: top;
      }

      .fifth-section-right {
        display: inline-block;
        width: 60%;

        .inner-box {
          display: flex;
          flex-wrap: wrap;
          margin: 0 -1.5rem;

          .column-three {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1170px) {
  .content {
    .top-slider-section {
      background-position: center center;
      background-size: cover;

      .top-section-inner {
        width: 100%;
        height: 600px;
        text-align: center;
        vertical-align: middle;
      }
    }

    .second-section {
      padding-top: 100px;
      padding-bottom: 100px;
      padding-left: 100px;
      padding-right: 100px;
      background-position: center center;
      background-size: cover;

      .inner-secs {
        margin: 0 -1.5rem;
        display: flex;
        flex-wrap: wrap;

        .main-text {
          width: 66.6666%;
          display: flex;
          flex-direction: column;
        }

        .hidden-secs {
          width: 33.3333%;
          display: flex;
          flex-direction: column;
        }
      }
    }

    .third-section {
      display: flex;

      .left {
        flex: 1;
        display: inline-flex;
        align-items: center;
        width: 49.8%;
        padding-top: 125px;
        padding-bottom: 100px;
        background-image: url(../../../assets/images/home/core-experience.jpeg);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-right: 0.4%;
        text-align: center;
        padding-left: 100px;
        padding-right: 100px;
      }

      .right {
        flex: 1;
        display: inline-flex;
        align-items: center;
        width: 49.8%;
        padding-top: 100px;
        padding-bottom: 100px;
        background-image: url(../../../assets/images/home/work-force.jpeg);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        text-align: center;
        padding-left: 100px;
        padding-right: 100px;
      }
    }

    .fourth-section {
      padding-left: 8%;
      padding-right: 0;
      padding-top: 44px;
      padding-bottom: 38px;

      .fourth-section-left {
        display: inline-block;
        width: 62%;

        .inner-box-four {
          display: block;
          margin: 0 -1.5rem;
        }
      }

      .fourth-section-right {
        display: inline-block;
        width: 30%;
        vertical-align: top;
        text-align: right;
      }
    }

    .fifth-section {
      padding-left: 8%;
      padding-right: 8%;
      padding-top: 44px;
      padding-bottom: 38px;

      .fifth-section-left {
        display: inline-block;
        width: 30%;
        vertical-align: top;
      }

      .fifth-section-right {
        display: inline-block;
        width: 62%;

        .inner-box {
          display: flex;
          flex-wrap: wrap;
          margin: 0 -1.5rem;

          .column-one {
            padding: 40px 60px;
            margin-left: 4%;
            background-color: #fff;
            border-radius: 8%;
            animation-name: afr;
            opacity: 1;
            border-color: #e5e5e5;
            display: flex;
            flex-direction: column;
          }

          .column-two {
            padding: 40px 60px;
            margin-left: 4%;
            background-color: #fff;
            border-radius: 8%;
            animation-name: afr;
            opacity: 1;
            border-color: #e5e5e5;
            display: flex;
            flex-direction: column;
          }

          .column-three {
            padding: 40px 60px;
            margin-left: 4%;
            background-color: #fff;
            border-radius: 8%;
            animation-name: afr;
            opacity: 1;
            border-color: #e5e5e5;
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
