<app-navbar></app-navbar>

<div class="content">
  <section class="top-slider-section">
    <div class="top-section-inner">
      <h2 class="noselect">
        Global Workforce Management Solutions
      </h2>
    </div>
  </section>

  <section class="second-section">
    <div class="inner-secs">
      <div class="main-text">
        <div class="inner">
          <h5>
            A Leading Global Workforce Solutions Company
          </h5>
          <div class="subtitle">
            A One-Stop Solution for all Your Technology Requirements
          </div>
          <p>
            <span>
              Blue Nucleus Technology and Consulting Group (BNTCG) assists businesses to overcome their technology
              challenges through its proven digital transformation solutions. We are committed to deliver results-driven
              business solutions by integrating people, processes, and digital technologies - to enable clients run and
              sustain their business successfully.
            </span>
          </p>
        </div>
      </div>
      <div class="hidden-secs"></div>
    </div>
  </section>

  <section class="third-section">
    <div class="left">
      <div class="inner-left">
        <h2 class="custom_heading">
          <b>
            Customized and Agile Technology Solutions to Accelerate Digital Business
          </b>
        </h2>
        <p>
          <span>
            The technology landscape is constantly evolving. To match the pace, and remain relevant and competitive, the
            organizations need to reinvent and realign themselves. At BNTCG, we combine our deep technical capabilities
            with a vast experience to deliver customized IT and non-IT solutions that help customers sustain and succeed
            in a competitive landscape.
          </span>
        </p>
        <div class="btn-wrapper">
          Know More
        </div>
      </div>
    </div>
    <div class="right">
      <div class="inner-right">
        <h2 class="custom_heading">
          <b>
            Committed to Driving Growth Across Your Organization
          </b>
        </h2>
        <p>
          <span>
            BNTCG serves as a one-stop solution for all critical technology and business challenges. As a dedicated
            technology partner, we focus on building and deploying best-in-class solutions and on-time deliveries.
          </span>
        </p>
        <div class="btn-wrapper">
          Know More
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="fourth-section">
    <div class="fourth-section-left">
      <div class="inner-box-four">
        <owl-carousel [options]="owlOptions" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
          <div class="item" *ngFor="let image of images; let i = index">
            <div class="thumbnail-image" [ngStyle]="">
              <img [src]="image">
            </div>
          </div>
        </owl-carousel>
      </div>
    </div>
    <div class="fourth-section-right">
      <div class="text-wrapper">
        <h5>
          Awards & Accolades
        </h5>
        <span>
          <strong>
            Testimony of Our
          </strong>
        </span>
        <br />
        <span>
          <strong>
            Commitment
          </strong>
        </span>
      </div>
      <div class="btn-wrapper">
        Know More
      </div>
    </div>
  </section> -->

  <section class="fifth-section">
    <div class="fifth-section-left">
      <div class="text-wrapper">
        <h5>
          Careers
        </h5>
        <span>
          <strong>
            Your New Job Starts
          </strong>
        </span>
        <br />
        <span>
          <strong>
            Right Here
          </strong>
        </span>
      </div>
      <div class="btn-wrapper">
        Know More
      </div>
    </div>
    <div class="fifth-section-right">
      <div class="inner-box">
        <div class="column-one">
          <h5>
            <strong>
              Consulting<br />
              Jobs
            </strong>
          </h5>
        </div>
        <div class="column-two">
          <h5>
            <strong>
              In-House<br />
              Jobs
            </strong>
          </h5>
        </div>
        <!-- <div class="column-three">
          <h5>
            <strong>
              Veteran<br />
              Program<br />
            </strong>
          </h5>
        </div> -->
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
