<form
  #form="ngForm"
  ngNoForm
  [formGroup]="vendorForm"
  (ngSubmit)="onSubmitVendorDetails(vendorForm.value)"
>
  <label for="vendorName">
    Vendor name
    <sup style="color: red;">
      *
    </sup>
  </label>
  <input
    type="text"
    id="vendorName"
    name="vendorName"
    placeholder="Vendor name"
    formControlName="vendorName"
    required
  />

  <label for="primeryContactPersonName">
    primary contact person name
    <sup style="color: red;">
      *
    </sup>
  </label>
  <input
    type="text"
    id="primeryContactPersonName"
    name="primeryContactPersonName"
    placeholder="Primary contact person name"
    formControlName="primeryContactPersonName"
    required
  />

  <label for="contactNumber">
    Contact Number
    <sup style="color: red;">
      *
    </sup>
  </label>
  <input
    type="text"
    id="contactNumber"
    name="contactNumber"
    placeholder="Contact Number"
    formControlName="contactNumber"
    required
  />

  <label for="areaOfExpertise">
    Area of expertise
    <sup style="color: red;">
      *
    </sup>
  </label>
  <input
    type="text"
    id="areaOfExpertise"
    name="areaOfExpertise"
    placeholder="Area of expertise"
    formControlName="areaOfExpertise"
    required
  />

  <label for="officeAddress">
    Office address
    <sup style="color: red;">
      *
    </sup>
  </label>
  <textarea
    id="officeAddress"
    name="officeAddress"
    placeholder="Office address"
    style="height: 170px;"
    formControlName="officeAddress"
    required
  ></textarea>
  <input type="submit" value="Submit" />
  &nbsp;&nbsp;&nbsp;&nbsp;
  <button type="button" class="clearFormButton" (click)="form.reset()">
    Clear Form
  </button>
</form>

<!-- Vendor name
Primery contact person name
Contact number
Area of expertise
Office address -->
