#subject,
input[type=text],
input[type=email],
select,
textarea {
  font-size: 16px;
  width: 100%;
  padding: 12px;
  border: 1px solid #000;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.clearFormButton,
input[type=submit] {
  font-size: 16px;
  background-color: #F4B41C;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

.clearFormButton:hover,
input[type=submit]:hover {
  background-color: #F4B41C;
  opacity: 0.7;
}

label {
  font-size: 16px;
  color: #000;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .clearFormButton,
  .columnContact,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

