.l-section {
  padding-top: 100px;
  border-color: #e5e5e5;
  position: relative;
  margin: 0 auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  .l-section-h {
    max-width: 1140px;
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding: 4rem 0;

    .page-404 {
      text-align: center;

      h1 {
        padding-top: 0;
        font-size: 38px;
        line-height: 1.4;
        letter-spacing: -0.03em;
        margin-bottom: 1.5rem;
        margin: 0 0 1.5rem;
      }

      p {
        margin-bottom: 0;
        margin: 0 0 1.5rem;
      }
    }

    .page-404::before {
      width: 12rem;
      height: 12rem;
      display: inline-block;
      vertical-align: top;
      content: url(../../../assets/images/compass.svg);
      margin-bottom: 1rem;
      opacity: 0.1;
    }
  }

  .i-cf::before,
  .i-cf::after {
    content: ' ';
    display: table;
  }
}
