<app-navbar></app-navbar>

<section class="l-section">
  <div class="l-section-h i-cf">

    <div class="page-404">
      <h1>
        Page not found
      </h1>
      <p>
        The link you followed may be broken, or the page may have been removed.
      </p>
    </div>

  </div>
</section>

<app-footer></app-footer>
