.container-box {
  width: 100%;
  padding: 1.5rem;
  // background-color: #F8F8F8;
  background-color: #ffffff;

  .custom_heading {
    margin-bottom: 1.5rem;
    color: #ff0000;
    text-align: left;
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    font-size: 26px;
  }

  .text-wrapper {

    p,
    .text {
      text-align: justify;
    }
  }
}

@media (min-width: 767px) {
  .container-box {
    width: 100%;
    margin: 0 auto;
    max-width: 1140px;
    padding: 4rem;

    .custom_heading {
      font-size: 32px;
      line-height: 1.4;
      letter-spacing: -0.03em;
    }
  }
}
