* {
  font-family: Roboto, 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  box-sizing: border-box;
  color: #000000;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
